/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.samsara.api.resources.vehiclelocations;

import com.samsara.api.core.ClientOptions;
import com.samsara.api.core.ObjectMappers;
import com.samsara.api.core.QueryStringMapper;
import com.samsara.api.core.RequestOptions;
import com.samsara.api.core.SamsaraApiApiException;
import com.samsara.api.core.SamsaraApiException;
import com.samsara.api.core.SamsaraApiHttpResponse;
import com.samsara.api.resources.vehiclelocations.requests.GetVehicleLocationsFeedRequest;
import com.samsara.api.resources.vehiclelocations.requests.GetVehicleLocationsHistoryRequest;
import com.samsara.api.resources.vehiclelocations.requests.GetVehicleLocationsRequest;
import com.samsara.api.types.VehicleLocationsListResponse;
import com.samsara.api.types.VehicleLocationsResponse;
import java.io.IOException;
import okhttp3.Headers;
import okhttp3.HttpUrl;
import okhttp3.OkHttpClient;
import okhttp3.Request;
import okhttp3.Response;
import okhttp3.ResponseBody;

public class RawVehicleLocationsClient {
    protected final ClientOptions clientOptions;

    public RawVehicleLocationsClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
    }

    /**
     * <em><strong>NOTE: The Vehicle Locations API is an older API that does not combine GPS data with onboard diagnostics. Try our new <a href="ref:getvehiclestats">Vehicle Stats API</a> instead.</strong></em>
     * <p>Returns the last known location of all vehicles at the given <code>time</code>. If no <code>time</code> is specified, the current time is used. This can be optionally filtered by tags or specific vehicle IDs.</p>
     * <p>Related guide: <a href="/docs/vehicle-locations-1">Vehicle Locations</a>.</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Vehicle Statistics</strong> under the Vehicles category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public SamsaraApiHttpResponse<VehicleLocationsResponse> getVehicleLocations() {
        return getVehicleLocations(GetVehicleLocationsRequest.builder().build());
    }

    /**
     * <em><strong>NOTE: The Vehicle Locations API is an older API that does not combine GPS data with onboard diagnostics. Try our new <a href="ref:getvehiclestats">Vehicle Stats API</a> instead.</strong></em>
     * <p>Returns the last known location of all vehicles at the given <code>time</code>. If no <code>time</code> is specified, the current time is used. This can be optionally filtered by tags or specific vehicle IDs.</p>
     * <p>Related guide: <a href="/docs/vehicle-locations-1">Vehicle Locations</a>.</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Vehicle Statistics</strong> under the Vehicles category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public SamsaraApiHttpResponse<VehicleLocationsResponse> getVehicleLocations(RequestOptions requestOptions) {
        return getVehicleLocations(GetVehicleLocationsRequest.builder().build(), requestOptions);
    }

    /**
     * <em><strong>NOTE: The Vehicle Locations API is an older API that does not combine GPS data with onboard diagnostics. Try our new <a href="ref:getvehiclestats">Vehicle Stats API</a> instead.</strong></em>
     * <p>Returns the last known location of all vehicles at the given <code>time</code>. If no <code>time</code> is specified, the current time is used. This can be optionally filtered by tags or specific vehicle IDs.</p>
     * <p>Related guide: <a href="/docs/vehicle-locations-1">Vehicle Locations</a>.</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Vehicle Statistics</strong> under the Vehicles category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public SamsaraApiHttpResponse<VehicleLocationsResponse> getVehicleLocations(GetVehicleLocationsRequest request) {
        return getVehicleLocations(request, null);
    }

    /**
     * <em><strong>NOTE: The Vehicle Locations API is an older API that does not combine GPS data with onboard diagnostics. Try our new <a href="ref:getvehiclestats">Vehicle Stats API</a> instead.</strong></em>
     * <p>Returns the last known location of all vehicles at the given <code>time</code>. If no <code>time</code> is specified, the current time is used. This can be optionally filtered by tags or specific vehicle IDs.</p>
     * <p>Related guide: <a href="/docs/vehicle-locations-1">Vehicle Locations</a>.</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Vehicle Statistics</strong> under the Vehicles category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public SamsaraApiHttpResponse<VehicleLocationsResponse> getVehicleLocations(
            GetVehicleLocationsRequest request, RequestOptions requestOptions) {
        HttpUrl.Builder httpUrl = HttpUrl.parse(this.clientOptions.environment().getUrl())
                .newBuilder()
                .addPathSegments("fleet/vehicles/locations");
        if (request.getAfter().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "after", request.getAfter().get(), false);
        }
        if (request.getTime().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "time", request.getTime().get(), false);
        }
        if (request.getParentTagIds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "parentTagIds", request.getParentTagIds().get(), true);
        }
        if (request.getTagIds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "tagIds", request.getTagIds().get(), true);
        }
        if (request.getVehicleIds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "vehicleIds", request.getVehicleIds().get(), true);
        }
        if (requestOptions != null) {
            requestOptions.getQueryParameters().forEach((_key, _value) -> {
                httpUrl.addQueryParameter(_key, _value);
            });
        }
        Request.Builder _requestBuilder = new Request.Builder()
                .url(httpUrl.build())
                .method("GET", null)
                .headers(Headers.of(clientOptions.headers(requestOptions)))
                .addHeader("Accept", "application/json");
        Request okhttpRequest = _requestBuilder.build();
        OkHttpClient client = clientOptions.httpClient();
        if (requestOptions != null && requestOptions.getTimeout().isPresent()) {
            client = clientOptions.httpClientWithTimeout(requestOptions);
        }
        try (Response response = client.newCall(okhttpRequest).execute()) {
            ResponseBody responseBody = response.body();
            String responseBodyString = responseBody != null ? responseBody.string() : "{}";
            if (response.isSuccessful()) {
                return new SamsaraApiHttpResponse<>(
                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, VehicleLocationsResponse.class),
                        response);
            }
            Object errorBody = ObjectMappers.parseErrorBody(responseBodyString);
            throw new SamsaraApiApiException(
                    "Error with status code " + response.code(), response.code(), errorBody, response);
        } catch (IOException e) {
            throw new SamsaraApiException("Network error executing HTTP request", e);
        }
    }

    /**
     * <em><strong>NOTE: The Vehicle Locations API is an older API that does not combine GPS data with onboard diagnostics. Try our new <a href="ref:getvehiclestatsfeed">Vehicle Stats API</a> instead.</strong></em>
     * <p>Follow a continuous feed of all vehicle locations from Samsara Vehicle Gateways.</p>
     * <p>Your first call to this endpoint will provide you with the most recent location for each vehicle and a <code>pagination</code> object that contains an <code>endCursor</code>.</p>
     * <p>You can provide the <code>endCursor</code> to the <code>after</code> parameter of this endpoint to get location updates since that <code>endCursor</code>.</p>
     * <p>If <code>hasNextPage</code> is <code>false</code>, no updates are readily available yet. We'd suggest waiting a minimum of 5 seconds before requesting updates.</p>
     * <p>Related guide: <a href="/docs/vehicle-locations-1">Vehicle Locations</a>.</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Vehicle Statistics</strong> under the Vehicle category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public SamsaraApiHttpResponse<VehicleLocationsListResponse> getVehicleLocationsFeed() {
        return getVehicleLocationsFeed(GetVehicleLocationsFeedRequest.builder().build());
    }

    /**
     * <em><strong>NOTE: The Vehicle Locations API is an older API that does not combine GPS data with onboard diagnostics. Try our new <a href="ref:getvehiclestatsfeed">Vehicle Stats API</a> instead.</strong></em>
     * <p>Follow a continuous feed of all vehicle locations from Samsara Vehicle Gateways.</p>
     * <p>Your first call to this endpoint will provide you with the most recent location for each vehicle and a <code>pagination</code> object that contains an <code>endCursor</code>.</p>
     * <p>You can provide the <code>endCursor</code> to the <code>after</code> parameter of this endpoint to get location updates since that <code>endCursor</code>.</p>
     * <p>If <code>hasNextPage</code> is <code>false</code>, no updates are readily available yet. We'd suggest waiting a minimum of 5 seconds before requesting updates.</p>
     * <p>Related guide: <a href="/docs/vehicle-locations-1">Vehicle Locations</a>.</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Vehicle Statistics</strong> under the Vehicle category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public SamsaraApiHttpResponse<VehicleLocationsListResponse> getVehicleLocationsFeed(RequestOptions requestOptions) {
        return getVehicleLocationsFeed(GetVehicleLocationsFeedRequest.builder().build(), requestOptions);
    }

    /**
     * <em><strong>NOTE: The Vehicle Locations API is an older API that does not combine GPS data with onboard diagnostics. Try our new <a href="ref:getvehiclestatsfeed">Vehicle Stats API</a> instead.</strong></em>
     * <p>Follow a continuous feed of all vehicle locations from Samsara Vehicle Gateways.</p>
     * <p>Your first call to this endpoint will provide you with the most recent location for each vehicle and a <code>pagination</code> object that contains an <code>endCursor</code>.</p>
     * <p>You can provide the <code>endCursor</code> to the <code>after</code> parameter of this endpoint to get location updates since that <code>endCursor</code>.</p>
     * <p>If <code>hasNextPage</code> is <code>false</code>, no updates are readily available yet. We'd suggest waiting a minimum of 5 seconds before requesting updates.</p>
     * <p>Related guide: <a href="/docs/vehicle-locations-1">Vehicle Locations</a>.</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Vehicle Statistics</strong> under the Vehicle category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public SamsaraApiHttpResponse<VehicleLocationsListResponse> getVehicleLocationsFeed(
            GetVehicleLocationsFeedRequest request) {
        return getVehicleLocationsFeed(request, null);
    }

    /**
     * <em><strong>NOTE: The Vehicle Locations API is an older API that does not combine GPS data with onboard diagnostics. Try our new <a href="ref:getvehiclestatsfeed">Vehicle Stats API</a> instead.</strong></em>
     * <p>Follow a continuous feed of all vehicle locations from Samsara Vehicle Gateways.</p>
     * <p>Your first call to this endpoint will provide you with the most recent location for each vehicle and a <code>pagination</code> object that contains an <code>endCursor</code>.</p>
     * <p>You can provide the <code>endCursor</code> to the <code>after</code> parameter of this endpoint to get location updates since that <code>endCursor</code>.</p>
     * <p>If <code>hasNextPage</code> is <code>false</code>, no updates are readily available yet. We'd suggest waiting a minimum of 5 seconds before requesting updates.</p>
     * <p>Related guide: <a href="/docs/vehicle-locations-1">Vehicle Locations</a>.</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Vehicle Statistics</strong> under the Vehicle category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public SamsaraApiHttpResponse<VehicleLocationsListResponse> getVehicleLocationsFeed(
            GetVehicleLocationsFeedRequest request, RequestOptions requestOptions) {
        HttpUrl.Builder httpUrl = HttpUrl.parse(this.clientOptions.environment().getUrl())
                .newBuilder()
                .addPathSegments("fleet/vehicles/locations/feed");
        if (request.getAfter().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "after", request.getAfter().get(), false);
        }
        if (request.getParentTagIds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "parentTagIds", request.getParentTagIds().get(), true);
        }
        if (request.getTagIds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "tagIds", request.getTagIds().get(), true);
        }
        if (request.getVehicleIds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "vehicleIds", request.getVehicleIds().get(), true);
        }
        if (requestOptions != null) {
            requestOptions.getQueryParameters().forEach((_key, _value) -> {
                httpUrl.addQueryParameter(_key, _value);
            });
        }
        Request.Builder _requestBuilder = new Request.Builder()
                .url(httpUrl.build())
                .method("GET", null)
                .headers(Headers.of(clientOptions.headers(requestOptions)))
                .addHeader("Accept", "application/json");
        Request okhttpRequest = _requestBuilder.build();
        OkHttpClient client = clientOptions.httpClient();
        if (requestOptions != null && requestOptions.getTimeout().isPresent()) {
            client = clientOptions.httpClientWithTimeout(requestOptions);
        }
        try (Response response = client.newCall(okhttpRequest).execute()) {
            ResponseBody responseBody = response.body();
            String responseBodyString = responseBody != null ? responseBody.string() : "{}";
            if (response.isSuccessful()) {
                return new SamsaraApiHttpResponse<>(
                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, VehicleLocationsListResponse.class),
                        response);
            }
            Object errorBody = ObjectMappers.parseErrorBody(responseBodyString);
            throw new SamsaraApiApiException(
                    "Error with status code " + response.code(), response.code(), errorBody, response);
        } catch (IOException e) {
            throw new SamsaraApiException("Network error executing HTTP request", e);
        }
    }

    /**
     * <em><strong>NOTE: The Vehicle Locations API is an older API that does not combine GPS data with onboard diagnostics. Try our new <a href="ref:getvehiclestatshistory">Vehicle Stats API</a> instead.</strong></em>
     * <p>Returns all known vehicle locations during the given time range. This can be optionally filtered by tags or specific vehicle IDs.</p>
     * <p>Related guide: <a href="/docs/vehicle-locations-1">Vehicle Locations</a>.</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Vehicle Statistics</strong> under the Vehicle category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public SamsaraApiHttpResponse<VehicleLocationsListResponse> getVehicleLocationsHistory(
            GetVehicleLocationsHistoryRequest request) {
        return getVehicleLocationsHistory(request, null);
    }

    /**
     * <em><strong>NOTE: The Vehicle Locations API is an older API that does not combine GPS data with onboard diagnostics. Try our new <a href="ref:getvehiclestatshistory">Vehicle Stats API</a> instead.</strong></em>
     * <p>Returns all known vehicle locations during the given time range. This can be optionally filtered by tags or specific vehicle IDs.</p>
     * <p>Related guide: <a href="/docs/vehicle-locations-1">Vehicle Locations</a>.</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Vehicle Statistics</strong> under the Vehicle category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public SamsaraApiHttpResponse<VehicleLocationsListResponse> getVehicleLocationsHistory(
            GetVehicleLocationsHistoryRequest request, RequestOptions requestOptions) {
        HttpUrl.Builder httpUrl = HttpUrl.parse(this.clientOptions.environment().getUrl())
                .newBuilder()
                .addPathSegments("fleet/vehicles/locations/history");
        if (request.getAfter().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "after", request.getAfter().get(), false);
        }
        QueryStringMapper.addQueryParameter(httpUrl, "startTime", request.getStartTime(), false);
        QueryStringMapper.addQueryParameter(httpUrl, "endTime", request.getEndTime(), false);
        if (request.getParentTagIds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "parentTagIds", request.getParentTagIds().get(), true);
        }
        if (request.getTagIds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "tagIds", request.getTagIds().get(), true);
        }
        if (request.getVehicleIds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "vehicleIds", request.getVehicleIds().get(), true);
        }
        if (requestOptions != null) {
            requestOptions.getQueryParameters().forEach((_key, _value) -> {
                httpUrl.addQueryParameter(_key, _value);
            });
        }
        Request.Builder _requestBuilder = new Request.Builder()
                .url(httpUrl.build())
                .method("GET", null)
                .headers(Headers.of(clientOptions.headers(requestOptions)))
                .addHeader("Accept", "application/json");
        Request okhttpRequest = _requestBuilder.build();
        OkHttpClient client = clientOptions.httpClient();
        if (requestOptions != null && requestOptions.getTimeout().isPresent()) {
            client = clientOptions.httpClientWithTimeout(requestOptions);
        }
        try (Response response = client.newCall(okhttpRequest).execute()) {
            ResponseBody responseBody = response.body();
            String responseBodyString = responseBody != null ? responseBody.string() : "{}";
            if (response.isSuccessful()) {
                return new SamsaraApiHttpResponse<>(
                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, VehicleLocationsListResponse.class),
                        response);
            }
            Object errorBody = ObjectMappers.parseErrorBody(responseBodyString);
            throw new SamsaraApiApiException(
                    "Error with status code " + response.code(), response.code(), errorBody, response);
        } catch (IOException e) {
            throw new SamsaraApiException("Network error executing HTTP request", e);
        }
    }
}
