/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.samsara.api.resources.authtokenfordriver;

import com.samsara.api.core.ClientOptions;
import com.samsara.api.core.RequestOptions;
import com.samsara.api.resources.authtokenfordriver.requests.AuthTokenAuthTokenRequestBody;
import com.samsara.api.types.AuthTokenAuthTokenResponseBody;

public class AuthTokenForDriverClient {
    protected final ClientOptions clientOptions;

    private final RawAuthTokenForDriverClient rawClient;

    public AuthTokenForDriverClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.rawClient = new RawAuthTokenForDriverClient(clientOptions);
    }

    /**
     * Get responses with HTTP metadata like headers
     */
    public RawAuthTokenForDriverClient withRawResponse() {
        return this.rawClient;
    }

    /**
     * Creates a short-lived auth token a driver can use to login.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Driver Auth Token</strong> under the Drivers category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public AuthTokenAuthTokenResponseBody authToken(AuthTokenAuthTokenRequestBody request) {
        return this.rawClient.authToken(request).body();
    }

    /**
     * Creates a short-lived auth token a driver can use to login.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Driver Auth Token</strong> under the Drivers category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public AuthTokenAuthTokenResponseBody authToken(
            AuthTokenAuthTokenRequestBody request, RequestOptions requestOptions) {
        return this.rawClient.authToken(request, requestOptions).body();
    }
}
