/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.samsara.api.resources.issues.requests;

import com.fasterxml.jackson.annotation.JsonAnyGetter;
import com.fasterxml.jackson.annotation.JsonAnySetter;
import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonSetter;
import com.fasterxml.jackson.annotation.Nulls;
import com.fasterxml.jackson.databind.annotation.JsonDeserialize;
import com.samsara.api.core.ObjectMappers;
import com.samsara.api.resources.issues.types.IssuesPatchIssueRequestBodyStatus;
import com.samsara.api.types.PatchIssueRequestBodyAssignedToRequestBody;
import java.time.OffsetDateTime;
import java.util.HashMap;
import java.util.Map;
import java.util.Objects;
import java.util.Optional;
import org.jetbrains.annotations.NotNull;

@JsonInclude(JsonInclude.Include.NON_ABSENT)
@JsonDeserialize(builder = IssuesPatchIssueRequestBody.Builder.class)
public final class IssuesPatchIssueRequestBody {
    private final Optional<PatchIssueRequestBodyAssignedToRequestBody> assignedTo;

    private final Optional<OffsetDateTime> dueDate;

    private final Optional<Map<String, String>> externalIds;

    private final String id;

    private final Optional<IssuesPatchIssueRequestBodyStatus> status;

    private final Map<String, Object> additionalProperties;

    private IssuesPatchIssueRequestBody(
            Optional<PatchIssueRequestBodyAssignedToRequestBody> assignedTo,
            Optional<OffsetDateTime> dueDate,
            Optional<Map<String, String>> externalIds,
            String id,
            Optional<IssuesPatchIssueRequestBodyStatus> status,
            Map<String, Object> additionalProperties) {
        this.assignedTo = assignedTo;
        this.dueDate = dueDate;
        this.externalIds = externalIds;
        this.id = id;
        this.status = status;
        this.additionalProperties = additionalProperties;
    }

    @JsonProperty("assignedTo")
    public Optional<PatchIssueRequestBodyAssignedToRequestBody> getAssignedTo() {
        return assignedTo;
    }

    /**
     * @return Due date of the issue. UTC timestamp in RFC 3339 format.
     */
    @JsonProperty("dueDate")
    public Optional<OffsetDateTime> getDueDate() {
        return dueDate;
    }

    /**
     * @return A map of external ids
     */
    @JsonProperty("externalIds")
    public Optional<Map<String, String>> getExternalIds() {
        return externalIds;
    }

    /**
     * @return ID of the issue. Can be either a unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the issue.
     */
    @JsonProperty("id")
    public String getId() {
        return id;
    }

    /**
     * @return Status of the issue.  Valid values: <code>open</code>, <code>inProgress</code>, <code>resolved</code>, <code>dismissed</code>
     */
    @JsonProperty("status")
    public Optional<IssuesPatchIssueRequestBodyStatus> getStatus() {
        return status;
    }

    @java.lang.Override
    public boolean equals(Object other) {
        if (this == other) return true;
        return other instanceof IssuesPatchIssueRequestBody && equalTo((IssuesPatchIssueRequestBody) other);
    }

    @JsonAnyGetter
    public Map<String, Object> getAdditionalProperties() {
        return this.additionalProperties;
    }

    private boolean equalTo(IssuesPatchIssueRequestBody other) {
        return assignedTo.equals(other.assignedTo)
                && dueDate.equals(other.dueDate)
                && externalIds.equals(other.externalIds)
                && id.equals(other.id)
                && status.equals(other.status);
    }

    @java.lang.Override
    public int hashCode() {
        return Objects.hash(this.assignedTo, this.dueDate, this.externalIds, this.id, this.status);
    }

    @java.lang.Override
    public String toString() {
        return ObjectMappers.stringify(this);
    }

    public static IdStage builder() {
        return new Builder();
    }

    public interface IdStage {
        /**
         * <p>ID of the issue. Can be either a unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the issue.</p>
         */
        _FinalStage id(@NotNull String id);

        Builder from(IssuesPatchIssueRequestBody other);
    }

    public interface _FinalStage {
        IssuesPatchIssueRequestBody build();

        _FinalStage assignedTo(Optional<PatchIssueRequestBodyAssignedToRequestBody> assignedTo);

        _FinalStage assignedTo(PatchIssueRequestBodyAssignedToRequestBody assignedTo);

        /**
         * <p>Due date of the issue. UTC timestamp in RFC 3339 format.</p>
         */
        _FinalStage dueDate(Optional<OffsetDateTime> dueDate);

        _FinalStage dueDate(OffsetDateTime dueDate);

        /**
         * <p>A map of external ids</p>
         */
        _FinalStage externalIds(Optional<Map<String, String>> externalIds);

        _FinalStage externalIds(Map<String, String> externalIds);

        /**
         * <p>Status of the issue.  Valid values: <code>open</code>, <code>inProgress</code>, <code>resolved</code>, <code>dismissed</code></p>
         */
        _FinalStage status(Optional<IssuesPatchIssueRequestBodyStatus> status);

        _FinalStage status(IssuesPatchIssueRequestBodyStatus status);
    }

    @JsonIgnoreProperties(ignoreUnknown = true)
    public static final class Builder implements IdStage, _FinalStage {
        private String id;

        private Optional<IssuesPatchIssueRequestBodyStatus> status = Optional.empty();

        private Optional<Map<String, String>> externalIds = Optional.empty();

        private Optional<OffsetDateTime> dueDate = Optional.empty();

        private Optional<PatchIssueRequestBodyAssignedToRequestBody> assignedTo = Optional.empty();

        @JsonAnySetter
        private Map<String, Object> additionalProperties = new HashMap<>();

        private Builder() {}

        @java.lang.Override
        public Builder from(IssuesPatchIssueRequestBody other) {
            assignedTo(other.getAssignedTo());
            dueDate(other.getDueDate());
            externalIds(other.getExternalIds());
            id(other.getId());
            status(other.getStatus());
            return this;
        }

        /**
         * <p>ID of the issue. Can be either a unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the issue.</p>
         * <p>ID of the issue. Can be either a unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the issue.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        @JsonSetter("id")
        public _FinalStage id(@NotNull String id) {
            this.id = Objects.requireNonNull(id, "id must not be null");
            return this;
        }

        /**
         * <p>Status of the issue.  Valid values: <code>open</code>, <code>inProgress</code>, <code>resolved</code>, <code>dismissed</code></p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage status(IssuesPatchIssueRequestBodyStatus status) {
            this.status = Optional.ofNullable(status);
            return this;
        }

        /**
         * <p>Status of the issue.  Valid values: <code>open</code>, <code>inProgress</code>, <code>resolved</code>, <code>dismissed</code></p>
         */
        @java.lang.Override
        @JsonSetter(value = "status", nulls = Nulls.SKIP)
        public _FinalStage status(Optional<IssuesPatchIssueRequestBodyStatus> status) {
            this.status = status;
            return this;
        }

        /**
         * <p>A map of external ids</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage externalIds(Map<String, String> externalIds) {
            this.externalIds = Optional.ofNullable(externalIds);
            return this;
        }

        /**
         * <p>A map of external ids</p>
         */
        @java.lang.Override
        @JsonSetter(value = "externalIds", nulls = Nulls.SKIP)
        public _FinalStage externalIds(Optional<Map<String, String>> externalIds) {
            this.externalIds = externalIds;
            return this;
        }

        /**
         * <p>Due date of the issue. UTC timestamp in RFC 3339 format.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage dueDate(OffsetDateTime dueDate) {
            this.dueDate = Optional.ofNullable(dueDate);
            return this;
        }

        /**
         * <p>Due date of the issue. UTC timestamp in RFC 3339 format.</p>
         */
        @java.lang.Override
        @JsonSetter(value = "dueDate", nulls = Nulls.SKIP)
        public _FinalStage dueDate(Optional<OffsetDateTime> dueDate) {
            this.dueDate = dueDate;
            return this;
        }

        @java.lang.Override
        public _FinalStage assignedTo(PatchIssueRequestBodyAssignedToRequestBody assignedTo) {
            this.assignedTo = Optional.ofNullable(assignedTo);
            return this;
        }

        @java.lang.Override
        @JsonSetter(value = "assignedTo", nulls = Nulls.SKIP)
        public _FinalStage assignedTo(Optional<PatchIssueRequestBodyAssignedToRequestBody> assignedTo) {
            this.assignedTo = assignedTo;
            return this;
        }

        @java.lang.Override
        public IssuesPatchIssueRequestBody build() {
            return new IssuesPatchIssueRequestBody(assignedTo, dueDate, externalIds, id, status, additionalProperties);
        }
    }
}
