/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.samsara.api.resources.driverqrcodes;

import com.samsara.api.core.ClientOptions;
import com.samsara.api.core.RequestOptions;
import com.samsara.api.resources.driverqrcodes.requests.DriverQrCodesCreateDriverQrCodeRequestBody;
import com.samsara.api.resources.driverqrcodes.requests.DriverQrCodesDeleteDriverQrCodeRequestBody;
import com.samsara.api.resources.driverqrcodes.requests.GetDriversQrCodesRequest;
import com.samsara.api.types.DriverQrCodesCreateDriverQrCodeResponseBody;
import com.samsara.api.types.DriverQrCodesGetDriversQrCodesResponseBody;

public class DriverQrCodesClient {
    protected final ClientOptions clientOptions;

    private final RawDriverQrCodesClient rawClient;

    public DriverQrCodesClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.rawClient = new RawDriverQrCodesClient(clientOptions);
    }

    /**
     * Get responses with HTTP metadata like headers
     */
    public RawDriverQrCodesClient withRawResponse() {
        return this.rawClient;
    }

    /**
     * Get details for requested driver(s) QR code, used for driver trip assignment.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Drivers</strong> under the Drivers category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public DriverQrCodesGetDriversQrCodesResponseBody getDriversQrCodes() {
        return this.rawClient.getDriversQrCodes().body();
    }

    /**
     * Get details for requested driver(s) QR code, used for driver trip assignment.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Drivers</strong> under the Drivers category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public DriverQrCodesGetDriversQrCodesResponseBody getDriversQrCodes(RequestOptions requestOptions) {
        return this.rawClient.getDriversQrCodes(requestOptions).body();
    }

    /**
     * Get details for requested driver(s) QR code, used for driver trip assignment.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Drivers</strong> under the Drivers category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public DriverQrCodesGetDriversQrCodesResponseBody getDriversQrCodes(GetDriversQrCodesRequest request) {
        return this.rawClient.getDriversQrCodes(request).body();
    }

    /**
     * Get details for requested driver(s) QR code, used for driver trip assignment.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Drivers</strong> under the Drivers category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public DriverQrCodesGetDriversQrCodesResponseBody getDriversQrCodes(
            GetDriversQrCodesRequest request, RequestOptions requestOptions) {
        return this.rawClient.getDriversQrCodes(request, requestOptions).body();
    }

    /**
     * Assign a new QR code for the requested driver. Return error if an active QR code already exists.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Drivers</strong> under the Drivers category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public DriverQrCodesCreateDriverQrCodeResponseBody createDriverQrCode(
            DriverQrCodesCreateDriverQrCodeRequestBody request) {
        return this.rawClient.createDriverQrCode(request).body();
    }

    /**
     * Assign a new QR code for the requested driver. Return error if an active QR code already exists.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Drivers</strong> under the Drivers category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public DriverQrCodesCreateDriverQrCodeResponseBody createDriverQrCode(
            DriverQrCodesCreateDriverQrCodeRequestBody request, RequestOptions requestOptions) {
        return this.rawClient.createDriverQrCode(request, requestOptions).body();
    }

    /**
     * Revoke requested driver's currently active QR code.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Drivers</strong> under the Drivers category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public void deleteDriverQrCode(DriverQrCodesDeleteDriverQrCodeRequestBody request) {
        this.rawClient.deleteDriverQrCode(request).body();
    }

    /**
     * Revoke requested driver's currently active QR code.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Drivers</strong> under the Drivers category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public void deleteDriverQrCode(DriverQrCodesDeleteDriverQrCodeRequestBody request, RequestOptions requestOptions) {
        this.rawClient.deleteDriverQrCode(request, requestOptions).body();
    }
}
