/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.samsara.api.resources.trips;

import com.samsara.api.core.ClientOptions;
import com.samsara.api.core.RequestOptions;
import com.samsara.api.resources.trips.requests.GetTripsRequest;
import com.samsara.api.resources.trips.requests.V1GetFleetTripsRequest;
import com.samsara.api.types.TripsGetTripsResponseBody;
import com.samsara.api.types.V1TripResponse;

public class TripsClient {
    protected final ClientOptions clientOptions;

    private final RawTripsClient rawClient;

    public TripsClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.rawClient = new RawTripsClient(clientOptions);
    }

    /**
     * Get responses with HTTP metadata like headers
     */
    public RawTripsClient withRawResponse() {
        return this.rawClient;
    }

    /**
     * This endpoint will return trips that have been collected for your organization based on the time parameters passed in. Results are paginated.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Trips</strong> under the Trips category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public TripsGetTripsResponseBody getTrips(GetTripsRequest request) {
        return this.rawClient.getTrips(request).body();
    }

    /**
     * This endpoint will return trips that have been collected for your organization based on the time parameters passed in. Results are paginated.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Trips</strong> under the Trips category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public TripsGetTripsResponseBody getTrips(GetTripsRequest request, RequestOptions requestOptions) {
        return this.rawClient.getTrips(request, requestOptions).body();
    }

    /**
     * <p>&lt;n class=&quot;warning&quot;&gt;
     * &lt;nh&gt;
     * &lt;i class=&quot;fa fa-exclamation-circle&quot;&gt;&lt;/i&gt;
     * This endpoint is still on our legacy API.
     * &lt;/nh&gt;
     * &lt;/n&gt;</p>
     * Get historical trips data for specified vehicle. This method returns a set of historical trips data for the specified vehicle in the specified time range.
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Vehicle Trips</strong> under the Vehicles category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public V1TripResponse v1GetFleetTrips(V1GetFleetTripsRequest request) {
        return this.rawClient.v1GetFleetTrips(request).body();
    }

    /**
     * <p>&lt;n class=&quot;warning&quot;&gt;
     * &lt;nh&gt;
     * &lt;i class=&quot;fa fa-exclamation-circle&quot;&gt;&lt;/i&gt;
     * This endpoint is still on our legacy API.
     * &lt;/nh&gt;
     * &lt;/n&gt;</p>
     * Get historical trips data for specified vehicle. This method returns a set of historical trips data for the specified vehicle in the specified time range.
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Vehicle Trips</strong> under the Vehicles category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public V1TripResponse v1GetFleetTrips(V1GetFleetTripsRequest request, RequestOptions requestOptions) {
        return this.rawClient.v1GetFleetTrips(request, requestOptions).body();
    }
}
