/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.samsara.api.resources.drivertrailerassignments;

import com.samsara.api.core.ClientOptions;
import com.samsara.api.core.RequestOptions;
import com.samsara.api.resources.drivertrailerassignments.requests.GetDriverTrailerAssignmentsRequest;
import com.samsara.api.resources.drivertrailerassignments.requests.TrailerAssignmentsCreateDriverTrailerAssignmentRequestBody;
import com.samsara.api.resources.drivertrailerassignments.requests.TrailerAssignmentsUpdateDriverTrailerAssignmentRequestBody;
import com.samsara.api.types.TrailerAssignmentsCreateDriverTrailerAssignmentResponseBody;
import com.samsara.api.types.TrailerAssignmentsGetDriverTrailerAssignmentsResponseBody;
import com.samsara.api.types.TrailerAssignmentsUpdateDriverTrailerAssignmentResponseBody;
import java.util.concurrent.CompletableFuture;

public class AsyncDriverTrailerAssignmentsClient {
    protected final ClientOptions clientOptions;

    private final AsyncRawDriverTrailerAssignmentsClient rawClient;

    public AsyncDriverTrailerAssignmentsClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.rawClient = new AsyncRawDriverTrailerAssignmentsClient(clientOptions);
    }

    /**
     * Get responses with HTTP metadata like headers
     */
    public AsyncRawDriverTrailerAssignmentsClient withRawResponse() {
        return this.rawClient;
    }

    /**
     * Get currently active driver-trailer assignments for driver.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Assignments</strong> under the Assignments category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<TrailerAssignmentsGetDriverTrailerAssignmentsResponseBody> getDriverTrailerAssignments() {
        return this.rawClient.getDriverTrailerAssignments().thenApply(response -> response.body());
    }

    /**
     * Get currently active driver-trailer assignments for driver.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Assignments</strong> under the Assignments category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<TrailerAssignmentsGetDriverTrailerAssignmentsResponseBody> getDriverTrailerAssignments(
            RequestOptions requestOptions) {
        return this.rawClient.getDriverTrailerAssignments(requestOptions).thenApply(response -> response.body());
    }

    /**
     * Get currently active driver-trailer assignments for driver.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Assignments</strong> under the Assignments category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<TrailerAssignmentsGetDriverTrailerAssignmentsResponseBody> getDriverTrailerAssignments(
            GetDriverTrailerAssignmentsRequest request) {
        return this.rawClient.getDriverTrailerAssignments(request).thenApply(response -> response.body());
    }

    /**
     * Get currently active driver-trailer assignments for driver.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Assignments</strong> under the Assignments category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<TrailerAssignmentsGetDriverTrailerAssignmentsResponseBody> getDriverTrailerAssignments(
            GetDriverTrailerAssignmentsRequest request, RequestOptions requestOptions) {
        return this.rawClient
                .getDriverTrailerAssignments(request, requestOptions)
                .thenApply(response -> response.body());
    }

    /**
     * Create a new driver-trailer assignment
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Assignments</strong> under the Assignments category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<TrailerAssignmentsCreateDriverTrailerAssignmentResponseBody> createDriverTrailerAssignment(
            TrailerAssignmentsCreateDriverTrailerAssignmentRequestBody request) {
        return this.rawClient.createDriverTrailerAssignment(request).thenApply(response -> response.body());
    }

    /**
     * Create a new driver-trailer assignment
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Assignments</strong> under the Assignments category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<TrailerAssignmentsCreateDriverTrailerAssignmentResponseBody> createDriverTrailerAssignment(
            TrailerAssignmentsCreateDriverTrailerAssignmentRequestBody request, RequestOptions requestOptions) {
        return this.rawClient
                .createDriverTrailerAssignment(request, requestOptions)
                .thenApply(response -> response.body());
    }

    /**
     * Update an existing driver-trailer assignment.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Assignments</strong> under the Assignments category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<TrailerAssignmentsUpdateDriverTrailerAssignmentResponseBody> updateDriverTrailerAssignment(
            TrailerAssignmentsUpdateDriverTrailerAssignmentRequestBody request) {
        return this.rawClient.updateDriverTrailerAssignment(request).thenApply(response -> response.body());
    }

    /**
     * Update an existing driver-trailer assignment.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Assignments</strong> under the Assignments category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<TrailerAssignmentsUpdateDriverTrailerAssignmentResponseBody> updateDriverTrailerAssignment(
            TrailerAssignmentsUpdateDriverTrailerAssignmentRequestBody request, RequestOptions requestOptions) {
        return this.rawClient
                .updateDriverTrailerAssignment(request, requestOptions)
                .thenApply(response -> response.body());
    }
}
