/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.samsara.api.resources.trainingcourses;

import com.samsara.api.core.ClientOptions;
import com.samsara.api.core.RequestOptions;
import com.samsara.api.resources.trainingcourses.requests.GetTrainingCoursesRequest;
import com.samsara.api.types.TrainingCoursesGetTrainingCoursesResponseBody;

public class TrainingCoursesClient {
    protected final ClientOptions clientOptions;

    private final RawTrainingCoursesClient rawClient;

    public TrainingCoursesClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.rawClient = new RawTrainingCoursesClient(clientOptions);
    }

    /**
     * Get responses with HTTP metadata like headers
     */
    public RawTrainingCoursesClient withRawResponse() {
        return this.rawClient;
    }

    /**
     * Returns all training courses data. Results are paginated.
     * Courses in the ‘draft’ status are excluded from the data returned by this endpoint.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Training Courses</strong> under the Training Courses category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public TrainingCoursesGetTrainingCoursesResponseBody getTrainingCourses() {
        return this.rawClient.getTrainingCourses().body();
    }

    /**
     * Returns all training courses data. Results are paginated.
     * Courses in the ‘draft’ status are excluded from the data returned by this endpoint.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Training Courses</strong> under the Training Courses category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public TrainingCoursesGetTrainingCoursesResponseBody getTrainingCourses(RequestOptions requestOptions) {
        return this.rawClient.getTrainingCourses(requestOptions).body();
    }

    /**
     * Returns all training courses data. Results are paginated.
     * Courses in the ‘draft’ status are excluded from the data returned by this endpoint.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Training Courses</strong> under the Training Courses category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public TrainingCoursesGetTrainingCoursesResponseBody getTrainingCourses(GetTrainingCoursesRequest request) {
        return this.rawClient.getTrainingCourses(request).body();
    }

    /**
     * Returns all training courses data. Results are paginated.
     * Courses in the ‘draft’ status are excluded from the data returned by this endpoint.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Training Courses</strong> under the Training Courses category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public TrainingCoursesGetTrainingCoursesResponseBody getTrainingCourses(
            GetTrainingCoursesRequest request, RequestOptions requestOptions) {
        return this.rawClient.getTrainingCourses(request, requestOptions).body();
    }
}
