/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.samsara.api.resources.speedingintervals;

import com.samsara.api.core.ClientOptions;
import com.samsara.api.core.RequestOptions;
import com.samsara.api.resources.speedingintervals.requests.GetSpeedingIntervalsRequest;
import com.samsara.api.types.SpeedingIntervalsGetSpeedingIntervalsResponseBody;
import java.util.concurrent.CompletableFuture;

public class AsyncSpeedingIntervalsClient {
    protected final ClientOptions clientOptions;

    private final AsyncRawSpeedingIntervalsClient rawClient;

    public AsyncSpeedingIntervalsClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.rawClient = new AsyncRawSpeedingIntervalsClient(clientOptions);
    }

    /**
     * Get responses with HTTP metadata like headers
     */
    public AsyncRawSpeedingIntervalsClient withRawResponse() {
        return this.rawClient;
    }

    /**
     * This endpoint will return all speeding intervals associated with all trips that have been collected for your organization based on the time parameters passed in. Only completed trips are included. Trips with no speeding intervals detected will be returned with an empty list of intervals. Results are paginated.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Speeding Intervals</strong> under the Speeding Intervals category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<SpeedingIntervalsGetSpeedingIntervalsResponseBody> getSpeedingIntervals(
            GetSpeedingIntervalsRequest request) {
        return this.rawClient.getSpeedingIntervals(request).thenApply(response -> response.body());
    }

    /**
     * This endpoint will return all speeding intervals associated with all trips that have been collected for your organization based on the time parameters passed in. Only completed trips are included. Trips with no speeding intervals detected will be returned with an empty list of intervals. Results are paginated.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Speeding Intervals</strong> under the Speeding Intervals category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<SpeedingIntervalsGetSpeedingIntervalsResponseBody> getSpeedingIntervals(
            GetSpeedingIntervalsRequest request, RequestOptions requestOptions) {
        return this.rawClient.getSpeedingIntervals(request, requestOptions).thenApply(response -> response.body());
    }
}
