/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.samsara.api.resources.speedingintervals;

import com.fasterxml.jackson.core.JsonProcessingException;
import com.samsara.api.core.ClientOptions;
import com.samsara.api.core.ObjectMappers;
import com.samsara.api.core.QueryStringMapper;
import com.samsara.api.core.RequestOptions;
import com.samsara.api.core.SamsaraApiApiException;
import com.samsara.api.core.SamsaraApiException;
import com.samsara.api.core.SamsaraApiHttpResponse;
import com.samsara.api.errors.BadGatewayError;
import com.samsara.api.errors.GatewayTimeoutError;
import com.samsara.api.errors.InternalServerError;
import com.samsara.api.errors.MethodNotAllowedError;
import com.samsara.api.errors.NotFoundError;
import com.samsara.api.errors.NotImplementedError;
import com.samsara.api.errors.ServiceUnavailableError;
import com.samsara.api.errors.TooManyRequestsError;
import com.samsara.api.errors.UnauthorizedError;
import com.samsara.api.resources.speedingintervals.requests.GetSpeedingIntervalsRequest;
import com.samsara.api.types.SpeedingIntervalsGetSpeedingIntervalsResponseBody;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import okhttp3.Call;
import okhttp3.Callback;
import okhttp3.Headers;
import okhttp3.HttpUrl;
import okhttp3.OkHttpClient;
import okhttp3.Request;
import okhttp3.Response;
import okhttp3.ResponseBody;
import org.jetbrains.annotations.NotNull;

public class AsyncRawSpeedingIntervalsClient {
    protected final ClientOptions clientOptions;

    public AsyncRawSpeedingIntervalsClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
    }

    /**
     * This endpoint will return all speeding intervals associated with all trips that have been collected for your organization based on the time parameters passed in. Only completed trips are included. Trips with no speeding intervals detected will be returned with an empty list of intervals. Results are paginated.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Speeding Intervals</strong> under the Speeding Intervals category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<SamsaraApiHttpResponse<SpeedingIntervalsGetSpeedingIntervalsResponseBody>>
            getSpeedingIntervals(GetSpeedingIntervalsRequest request) {
        return getSpeedingIntervals(request, null);
    }

    /**
     * This endpoint will return all speeding intervals associated with all trips that have been collected for your organization based on the time parameters passed in. Only completed trips are included. Trips with no speeding intervals detected will be returned with an empty list of intervals. Results are paginated.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Speeding Intervals</strong> under the Speeding Intervals category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<SamsaraApiHttpResponse<SpeedingIntervalsGetSpeedingIntervalsResponseBody>>
            getSpeedingIntervals(GetSpeedingIntervalsRequest request, RequestOptions requestOptions) {
        HttpUrl.Builder httpUrl = HttpUrl.parse(this.clientOptions.environment().getUrl())
                .newBuilder()
                .addPathSegments("speeding-intervals/stream");
        QueryStringMapper.addQueryParameter(httpUrl, "startTime", request.getStartTime(), false);
        if (request.getEndTime().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "endTime", request.getEndTime().get(), false);
        }
        if (request.getQueryBy().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "queryBy", request.getQueryBy().get(), false);
        }
        if (request.getIncludeAsset().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "includeAsset", request.getIncludeAsset().get(), false);
        }
        if (request.getIncludeDriverId().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "includeDriverId", request.getIncludeDriverId().get(), false);
        }
        if (request.getAfter().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "after", request.getAfter().get(), false);
        }
        if (request.getAssetIds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "assetIds", request.getAssetIds().get(), true);
        }
        if (request.getSeverityLevels().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "severityLevels", request.getSeverityLevels().get(), true);
        }
        if (requestOptions != null) {
            requestOptions.getQueryParameters().forEach((_key, _value) -> {
                httpUrl.addQueryParameter(_key, _value);
            });
        }
        Request.Builder _requestBuilder = new Request.Builder()
                .url(httpUrl.build())
                .method("GET", null)
                .headers(Headers.of(clientOptions.headers(requestOptions)))
                .addHeader("Accept", "application/json");
        Request okhttpRequest = _requestBuilder.build();
        OkHttpClient client = clientOptions.httpClient();
        if (requestOptions != null && requestOptions.getTimeout().isPresent()) {
            client = clientOptions.httpClientWithTimeout(requestOptions);
        }
        CompletableFuture<SamsaraApiHttpResponse<SpeedingIntervalsGetSpeedingIntervalsResponseBody>> future =
                new CompletableFuture<>();
        client.newCall(okhttpRequest).enqueue(new Callback() {
            @Override
            public void onResponse(@NotNull Call call, @NotNull Response response) throws IOException {
                try (ResponseBody responseBody = response.body()) {
                    String responseBodyString = responseBody != null ? responseBody.string() : "{}";
                    if (response.isSuccessful()) {
                        future.complete(new SamsaraApiHttpResponse<>(
                                ObjectMappers.JSON_MAPPER.readValue(
                                        responseBodyString, SpeedingIntervalsGetSpeedingIntervalsResponseBody.class),
                                response));
                        return;
                    }
                    try {
                        switch (response.code()) {
                            case 401:
                                future.completeExceptionally(new UnauthorizedError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 404:
                                future.completeExceptionally(new NotFoundError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 405:
                                future.completeExceptionally(new MethodNotAllowedError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 429:
                                future.completeExceptionally(new TooManyRequestsError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 500:
                                future.completeExceptionally(new InternalServerError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 501:
                                future.completeExceptionally(new NotImplementedError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 502:
                                future.completeExceptionally(new BadGatewayError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 503:
                                future.completeExceptionally(new ServiceUnavailableError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 504:
                                future.completeExceptionally(new GatewayTimeoutError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                        }
                    } catch (JsonProcessingException ignored) {
                        // unable to map error response, throwing generic error
                    }
                    Object errorBody = ObjectMappers.parseErrorBody(responseBodyString);
                    future.completeExceptionally(new SamsaraApiApiException(
                            "Error with status code " + response.code(), response.code(), errorBody, response));
                    return;
                } catch (IOException e) {
                    future.completeExceptionally(new SamsaraApiException("Network error executing HTTP request", e));
                }
            }

            @Override
            public void onFailure(@NotNull Call call, @NotNull IOException e) {
                future.completeExceptionally(new SamsaraApiException("Network error executing HTTP request", e));
            }
        });
        return future;
    }
}
