/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.samsara.api.resources.safety;

import com.samsara.api.core.ClientOptions;
import com.samsara.api.core.RequestOptions;
import com.samsara.api.resources.safety.requests.GetSafetyEventsV2Request;
import com.samsara.api.resources.safety.requests.GetSafetyEventsV2StreamRequest;
import com.samsara.api.resources.safety.requests.V1GetDriverSafetyScoreRequest;
import com.samsara.api.resources.safety.requests.V1GetVehicleSafetyScoreRequest;
import com.samsara.api.types.SafetyEventsV2GetSafetyEventsV2ResponseBody;
import com.samsara.api.types.SafetyEventsV2GetSafetyEventsV2StreamResponseBody;
import com.samsara.api.types.V1DriverSafetyScoreResponse;
import com.samsara.api.types.V1VehicleSafetyScoreResponse;
import java.util.concurrent.CompletableFuture;

public class AsyncSafetyClient {
    protected final ClientOptions clientOptions;

    private final AsyncRawSafetyClient rawClient;

    public AsyncSafetyClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.rawClient = new AsyncRawSafetyClient(clientOptions);
    }

    /**
     * Get responses with HTTP metadata like headers
     */
    public AsyncRawSafetyClient withRawResponse() {
        return this.rawClient;
    }

    /**
     * This endpoint will return details for the specified safety events based on the parameters passed in. Results are paginated.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Safety Events &amp; Scores</strong> under the Safety &amp; Cameras category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<SafetyEventsV2GetSafetyEventsV2ResponseBody> getSafetyEventsV2() {
        return this.rawClient.getSafetyEventsV2().thenApply(response -> response.body());
    }

    /**
     * This endpoint will return details for the specified safety events based on the parameters passed in. Results are paginated.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Safety Events &amp; Scores</strong> under the Safety &amp; Cameras category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<SafetyEventsV2GetSafetyEventsV2ResponseBody> getSafetyEventsV2(
            RequestOptions requestOptions) {
        return this.rawClient.getSafetyEventsV2(requestOptions).thenApply(response -> response.body());
    }

    /**
     * This endpoint will return details for the specified safety events based on the parameters passed in. Results are paginated.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Safety Events &amp; Scores</strong> under the Safety &amp; Cameras category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<SafetyEventsV2GetSafetyEventsV2ResponseBody> getSafetyEventsV2(
            GetSafetyEventsV2Request request) {
        return this.rawClient.getSafetyEventsV2(request).thenApply(response -> response.body());
    }

    /**
     * This endpoint will return details for the specified safety events based on the parameters passed in. Results are paginated.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Safety Events &amp; Scores</strong> under the Safety &amp; Cameras category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<SafetyEventsV2GetSafetyEventsV2ResponseBody> getSafetyEventsV2(
            GetSafetyEventsV2Request request, RequestOptions requestOptions) {
        return this.rawClient.getSafetyEventsV2(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * This endpoint will return all safety events associated with your organization based on the parameters passed in. To get core endpoint data, select Read Safety Events &amp; Scores under the Safety &amp; Cameras category when creating or editing an API token. Read Camera Media permissions required to get Safety Event video media via this endpoint. If you include an endTime, the endpoint will return data up until that point. If you do not include an endTime, you can continue to poll the API real-time with the pagination cursor that gets returned on every call. Results are paginated.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Safety Events &amp; Scores</strong> under the Safety &amp; Cameras category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<SafetyEventsV2GetSafetyEventsV2StreamResponseBody> getSafetyEventsV2Stream(
            GetSafetyEventsV2StreamRequest request) {
        return this.rawClient.getSafetyEventsV2Stream(request).thenApply(response -> response.body());
    }

    /**
     * This endpoint will return all safety events associated with your organization based on the parameters passed in. To get core endpoint data, select Read Safety Events &amp; Scores under the Safety &amp; Cameras category when creating or editing an API token. Read Camera Media permissions required to get Safety Event video media via this endpoint. If you include an endTime, the endpoint will return data up until that point. If you do not include an endTime, you can continue to poll the API real-time with the pagination cursor that gets returned on every call. Results are paginated.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Safety Events &amp; Scores</strong> under the Safety &amp; Cameras category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<SafetyEventsV2GetSafetyEventsV2StreamResponseBody> getSafetyEventsV2Stream(
            GetSafetyEventsV2StreamRequest request, RequestOptions requestOptions) {
        return this.rawClient.getSafetyEventsV2Stream(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * <p>&lt;n class=&quot;warning&quot;&gt;
     * &lt;nh&gt;
     * &lt;i class=&quot;fa fa-exclamation-circle&quot;&gt;&lt;/i&gt;
     * This endpoint is still on our legacy API.
     * &lt;/nh&gt;
     * &lt;/n&gt;</p>
     * Fetch the safety score for the driver.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Safety Events &amp; Scores</strong> under the Safety &amp; Cameras category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public CompletableFuture<V1DriverSafetyScoreResponse> v1GetDriverSafetyScore(
            long driverId, V1GetDriverSafetyScoreRequest request) {
        return this.rawClient.v1GetDriverSafetyScore(driverId, request).thenApply(response -> response.body());
    }

    /**
     * <p>&lt;n class=&quot;warning&quot;&gt;
     * &lt;nh&gt;
     * &lt;i class=&quot;fa fa-exclamation-circle&quot;&gt;&lt;/i&gt;
     * This endpoint is still on our legacy API.
     * &lt;/nh&gt;
     * &lt;/n&gt;</p>
     * Fetch the safety score for the driver.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Safety Events &amp; Scores</strong> under the Safety &amp; Cameras category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public CompletableFuture<V1DriverSafetyScoreResponse> v1GetDriverSafetyScore(
            long driverId, V1GetDriverSafetyScoreRequest request, RequestOptions requestOptions) {
        return this.rawClient
                .v1GetDriverSafetyScore(driverId, request, requestOptions)
                .thenApply(response -> response.body());
    }

    /**
     * <p>&lt;n class=&quot;warning&quot;&gt;
     * &lt;nh&gt;
     * &lt;i class=&quot;fa fa-exclamation-circle&quot;&gt;&lt;/i&gt;
     * This endpoint is still on our legacy API.
     * &lt;/nh&gt;
     * &lt;/n&gt;</p>
     * Fetch the safety score for the vehicle.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Safety Events &amp; Scores</strong> under the Safety &amp; Cameras category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public CompletableFuture<V1VehicleSafetyScoreResponse> v1GetVehicleSafetyScore(
            long vehicleId, V1GetVehicleSafetyScoreRequest request) {
        return this.rawClient.v1GetVehicleSafetyScore(vehicleId, request).thenApply(response -> response.body());
    }

    /**
     * <p>&lt;n class=&quot;warning&quot;&gt;
     * &lt;nh&gt;
     * &lt;i class=&quot;fa fa-exclamation-circle&quot;&gt;&lt;/i&gt;
     * This endpoint is still on our legacy API.
     * &lt;/nh&gt;
     * &lt;/n&gt;</p>
     * Fetch the safety score for the vehicle.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Safety Events &amp; Scores</strong> under the Safety &amp; Cameras category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public CompletableFuture<V1VehicleSafetyScoreResponse> v1GetVehicleSafetyScore(
            long vehicleId, V1GetVehicleSafetyScoreRequest request, RequestOptions requestOptions) {
        return this.rawClient
                .v1GetVehicleSafetyScore(vehicleId, request, requestOptions)
                .thenApply(response -> response.body());
    }
}
