/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.samsara.api.resources.safety;

import com.fasterxml.jackson.core.JsonProcessingException;
import com.samsara.api.core.ClientOptions;
import com.samsara.api.core.ObjectMappers;
import com.samsara.api.core.QueryStringMapper;
import com.samsara.api.core.RequestOptions;
import com.samsara.api.core.SamsaraApiApiException;
import com.samsara.api.core.SamsaraApiException;
import com.samsara.api.core.SamsaraApiHttpResponse;
import com.samsara.api.errors.BadGatewayError;
import com.samsara.api.errors.GatewayTimeoutError;
import com.samsara.api.errors.InternalServerError;
import com.samsara.api.errors.MethodNotAllowedError;
import com.samsara.api.errors.NotFoundError;
import com.samsara.api.errors.NotImplementedError;
import com.samsara.api.errors.ServiceUnavailableError;
import com.samsara.api.errors.TooManyRequestsError;
import com.samsara.api.errors.UnauthorizedError;
import com.samsara.api.resources.safety.requests.GetSafetyEventsV2Request;
import com.samsara.api.resources.safety.requests.GetSafetyEventsV2StreamRequest;
import com.samsara.api.resources.safety.requests.V1GetDriverSafetyScoreRequest;
import com.samsara.api.resources.safety.requests.V1GetVehicleSafetyScoreRequest;
import com.samsara.api.types.SafetyEventsV2GetSafetyEventsV2ResponseBody;
import com.samsara.api.types.SafetyEventsV2GetSafetyEventsV2StreamResponseBody;
import com.samsara.api.types.V1DriverSafetyScoreResponse;
import com.samsara.api.types.V1VehicleSafetyScoreResponse;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import okhttp3.Call;
import okhttp3.Callback;
import okhttp3.Headers;
import okhttp3.HttpUrl;
import okhttp3.OkHttpClient;
import okhttp3.Request;
import okhttp3.Response;
import okhttp3.ResponseBody;
import org.jetbrains.annotations.NotNull;

public class AsyncRawSafetyClient {
    protected final ClientOptions clientOptions;

    public AsyncRawSafetyClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
    }

    /**
     * This endpoint will return details for the specified safety events based on the parameters passed in. Results are paginated.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Safety Events &amp; Scores</strong> under the Safety &amp; Cameras category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<SamsaraApiHttpResponse<SafetyEventsV2GetSafetyEventsV2ResponseBody>> getSafetyEventsV2() {
        return getSafetyEventsV2(GetSafetyEventsV2Request.builder().build());
    }

    /**
     * This endpoint will return details for the specified safety events based on the parameters passed in. Results are paginated.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Safety Events &amp; Scores</strong> under the Safety &amp; Cameras category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<SamsaraApiHttpResponse<SafetyEventsV2GetSafetyEventsV2ResponseBody>> getSafetyEventsV2(
            RequestOptions requestOptions) {
        return getSafetyEventsV2(GetSafetyEventsV2Request.builder().build(), requestOptions);
    }

    /**
     * This endpoint will return details for the specified safety events based on the parameters passed in. Results are paginated.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Safety Events &amp; Scores</strong> under the Safety &amp; Cameras category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<SamsaraApiHttpResponse<SafetyEventsV2GetSafetyEventsV2ResponseBody>> getSafetyEventsV2(
            GetSafetyEventsV2Request request) {
        return getSafetyEventsV2(request, null);
    }

    /**
     * This endpoint will return details for the specified safety events based on the parameters passed in. Results are paginated.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Safety Events &amp; Scores</strong> under the Safety &amp; Cameras category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<SamsaraApiHttpResponse<SafetyEventsV2GetSafetyEventsV2ResponseBody>> getSafetyEventsV2(
            GetSafetyEventsV2Request request, RequestOptions requestOptions) {
        HttpUrl.Builder httpUrl = HttpUrl.parse(this.clientOptions.environment().getUrl())
                .newBuilder()
                .addPathSegments("safety-events");
        if (request.getIncludeAsset().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "includeAsset", request.getIncludeAsset().get(), false);
        }
        if (request.getIncludeDriver().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "includeDriver", request.getIncludeDriver().get(), false);
        }
        if (request.getIncludeVgOnlyEvents().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl,
                    "includeVgOnlyEvents",
                    request.getIncludeVgOnlyEvents().get(),
                    false);
        }
        if (request.getAfter().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "after", request.getAfter().get(), false);
        }
        if (request.getSafetyEventIds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "safetyEventIds", request.getSafetyEventIds().get(), true);
        }
        if (requestOptions != null) {
            requestOptions.getQueryParameters().forEach((_key, _value) -> {
                httpUrl.addQueryParameter(_key, _value);
            });
        }
        Request.Builder _requestBuilder = new Request.Builder()
                .url(httpUrl.build())
                .method("GET", null)
                .headers(Headers.of(clientOptions.headers(requestOptions)))
                .addHeader("Accept", "application/json");
        Request okhttpRequest = _requestBuilder.build();
        OkHttpClient client = clientOptions.httpClient();
        if (requestOptions != null && requestOptions.getTimeout().isPresent()) {
            client = clientOptions.httpClientWithTimeout(requestOptions);
        }
        CompletableFuture<SamsaraApiHttpResponse<SafetyEventsV2GetSafetyEventsV2ResponseBody>> future =
                new CompletableFuture<>();
        client.newCall(okhttpRequest).enqueue(new Callback() {
            @Override
            public void onResponse(@NotNull Call call, @NotNull Response response) throws IOException {
                try (ResponseBody responseBody = response.body()) {
                    String responseBodyString = responseBody != null ? responseBody.string() : "{}";
                    if (response.isSuccessful()) {
                        future.complete(new SamsaraApiHttpResponse<>(
                                ObjectMappers.JSON_MAPPER.readValue(
                                        responseBodyString, SafetyEventsV2GetSafetyEventsV2ResponseBody.class),
                                response));
                        return;
                    }
                    try {
                        switch (response.code()) {
                            case 401:
                                future.completeExceptionally(new UnauthorizedError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 404:
                                future.completeExceptionally(new NotFoundError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 405:
                                future.completeExceptionally(new MethodNotAllowedError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 429:
                                future.completeExceptionally(new TooManyRequestsError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 500:
                                future.completeExceptionally(new InternalServerError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 501:
                                future.completeExceptionally(new NotImplementedError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 502:
                                future.completeExceptionally(new BadGatewayError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 503:
                                future.completeExceptionally(new ServiceUnavailableError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 504:
                                future.completeExceptionally(new GatewayTimeoutError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                        }
                    } catch (JsonProcessingException ignored) {
                        // unable to map error response, throwing generic error
                    }
                    Object errorBody = ObjectMappers.parseErrorBody(responseBodyString);
                    future.completeExceptionally(new SamsaraApiApiException(
                            "Error with status code " + response.code(), response.code(), errorBody, response));
                    return;
                } catch (IOException e) {
                    future.completeExceptionally(new SamsaraApiException("Network error executing HTTP request", e));
                }
            }

            @Override
            public void onFailure(@NotNull Call call, @NotNull IOException e) {
                future.completeExceptionally(new SamsaraApiException("Network error executing HTTP request", e));
            }
        });
        return future;
    }

    /**
     * This endpoint will return all safety events associated with your organization based on the parameters passed in. To get core endpoint data, select Read Safety Events &amp; Scores under the Safety &amp; Cameras category when creating or editing an API token. Read Camera Media permissions required to get Safety Event video media via this endpoint. If you include an endTime, the endpoint will return data up until that point. If you do not include an endTime, you can continue to poll the API real-time with the pagination cursor that gets returned on every call. Results are paginated.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Safety Events &amp; Scores</strong> under the Safety &amp; Cameras category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<SamsaraApiHttpResponse<SafetyEventsV2GetSafetyEventsV2StreamResponseBody>>
            getSafetyEventsV2Stream(GetSafetyEventsV2StreamRequest request) {
        return getSafetyEventsV2Stream(request, null);
    }

    /**
     * This endpoint will return all safety events associated with your organization based on the parameters passed in. To get core endpoint data, select Read Safety Events &amp; Scores under the Safety &amp; Cameras category when creating or editing an API token. Read Camera Media permissions required to get Safety Event video media via this endpoint. If you include an endTime, the endpoint will return data up until that point. If you do not include an endTime, you can continue to poll the API real-time with the pagination cursor that gets returned on every call. Results are paginated.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Safety Events &amp; Scores</strong> under the Safety &amp; Cameras category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<SamsaraApiHttpResponse<SafetyEventsV2GetSafetyEventsV2StreamResponseBody>>
            getSafetyEventsV2Stream(GetSafetyEventsV2StreamRequest request, RequestOptions requestOptions) {
        HttpUrl.Builder httpUrl = HttpUrl.parse(this.clientOptions.environment().getUrl())
                .newBuilder()
                .addPathSegments("safety-events/stream");
        QueryStringMapper.addQueryParameter(httpUrl, "startTime", request.getStartTime(), false);
        if (request.getEndTime().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "endTime", request.getEndTime().get(), false);
        }
        if (request.getQueryByTimeField().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "queryByTimeField", request.getQueryByTimeField().get(), false);
        }
        if (request.getIncludeAsset().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "includeAsset", request.getIncludeAsset().get(), false);
        }
        if (request.getIncludeDriver().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "includeDriver", request.getIncludeDriver().get(), false);
        }
        if (request.getIncludeVgOnlyEvents().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl,
                    "includeVgOnlyEvents",
                    request.getIncludeVgOnlyEvents().get(),
                    false);
        }
        if (request.getAfter().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "after", request.getAfter().get(), false);
        }
        if (request.getAssetIds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "assetIds", request.getAssetIds().get(), true);
        }
        if (request.getDriverIds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "driverIds", request.getDriverIds().get(), true);
        }
        if (request.getTagIds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "tagIds", request.getTagIds().get(), true);
        }
        if (request.getAssignedCoaches().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "assignedCoaches", request.getAssignedCoaches().get(), true);
        }
        if (request.getBehaviorLabels().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "behaviorLabels", request.getBehaviorLabels().get(), true);
        }
        if (request.getEventStates().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "eventStates", request.getEventStates().get(), true);
        }
        if (requestOptions != null) {
            requestOptions.getQueryParameters().forEach((_key, _value) -> {
                httpUrl.addQueryParameter(_key, _value);
            });
        }
        Request.Builder _requestBuilder = new Request.Builder()
                .url(httpUrl.build())
                .method("GET", null)
                .headers(Headers.of(clientOptions.headers(requestOptions)))
                .addHeader("Accept", "application/json");
        Request okhttpRequest = _requestBuilder.build();
        OkHttpClient client = clientOptions.httpClient();
        if (requestOptions != null && requestOptions.getTimeout().isPresent()) {
            client = clientOptions.httpClientWithTimeout(requestOptions);
        }
        CompletableFuture<SamsaraApiHttpResponse<SafetyEventsV2GetSafetyEventsV2StreamResponseBody>> future =
                new CompletableFuture<>();
        client.newCall(okhttpRequest).enqueue(new Callback() {
            @Override
            public void onResponse(@NotNull Call call, @NotNull Response response) throws IOException {
                try (ResponseBody responseBody = response.body()) {
                    String responseBodyString = responseBody != null ? responseBody.string() : "{}";
                    if (response.isSuccessful()) {
                        future.complete(new SamsaraApiHttpResponse<>(
                                ObjectMappers.JSON_MAPPER.readValue(
                                        responseBodyString, SafetyEventsV2GetSafetyEventsV2StreamResponseBody.class),
                                response));
                        return;
                    }
                    try {
                        switch (response.code()) {
                            case 401:
                                future.completeExceptionally(new UnauthorizedError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 404:
                                future.completeExceptionally(new NotFoundError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 405:
                                future.completeExceptionally(new MethodNotAllowedError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 429:
                                future.completeExceptionally(new TooManyRequestsError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 500:
                                future.completeExceptionally(new InternalServerError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 501:
                                future.completeExceptionally(new NotImplementedError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 502:
                                future.completeExceptionally(new BadGatewayError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 503:
                                future.completeExceptionally(new ServiceUnavailableError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                            case 504:
                                future.completeExceptionally(new GatewayTimeoutError(
                                        ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class),
                                        response));
                                return;
                        }
                    } catch (JsonProcessingException ignored) {
                        // unable to map error response, throwing generic error
                    }
                    Object errorBody = ObjectMappers.parseErrorBody(responseBodyString);
                    future.completeExceptionally(new SamsaraApiApiException(
                            "Error with status code " + response.code(), response.code(), errorBody, response));
                    return;
                } catch (IOException e) {
                    future.completeExceptionally(new SamsaraApiException("Network error executing HTTP request", e));
                }
            }

            @Override
            public void onFailure(@NotNull Call call, @NotNull IOException e) {
                future.completeExceptionally(new SamsaraApiException("Network error executing HTTP request", e));
            }
        });
        return future;
    }

    /**
     * <p>&lt;n class=&quot;warning&quot;&gt;
     * &lt;nh&gt;
     * &lt;i class=&quot;fa fa-exclamation-circle&quot;&gt;&lt;/i&gt;
     * This endpoint is still on our legacy API.
     * &lt;/nh&gt;
     * &lt;/n&gt;</p>
     * Fetch the safety score for the driver.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Safety Events &amp; Scores</strong> under the Safety &amp; Cameras category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public CompletableFuture<SamsaraApiHttpResponse<V1DriverSafetyScoreResponse>> v1GetDriverSafetyScore(
            long driverId, V1GetDriverSafetyScoreRequest request) {
        return v1GetDriverSafetyScore(driverId, request, null);
    }

    /**
     * <p>&lt;n class=&quot;warning&quot;&gt;
     * &lt;nh&gt;
     * &lt;i class=&quot;fa fa-exclamation-circle&quot;&gt;&lt;/i&gt;
     * This endpoint is still on our legacy API.
     * &lt;/nh&gt;
     * &lt;/n&gt;</p>
     * Fetch the safety score for the driver.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Safety Events &amp; Scores</strong> under the Safety &amp; Cameras category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public CompletableFuture<SamsaraApiHttpResponse<V1DriverSafetyScoreResponse>> v1GetDriverSafetyScore(
            long driverId, V1GetDriverSafetyScoreRequest request, RequestOptions requestOptions) {
        HttpUrl.Builder httpUrl = HttpUrl.parse(this.clientOptions.environment().getUrl())
                .newBuilder()
                .addPathSegments("v1/fleet/drivers")
                .addPathSegment(Long.toString(driverId))
                .addPathSegments("safety")
                .addPathSegments("score");
        QueryStringMapper.addQueryParameter(httpUrl, "startMs", request.getStartMs(), false);
        QueryStringMapper.addQueryParameter(httpUrl, "endMs", request.getEndMs(), false);
        if (requestOptions != null) {
            requestOptions.getQueryParameters().forEach((_key, _value) -> {
                httpUrl.addQueryParameter(_key, _value);
            });
        }
        Request.Builder _requestBuilder = new Request.Builder()
                .url(httpUrl.build())
                .method("GET", null)
                .headers(Headers.of(clientOptions.headers(requestOptions)))
                .addHeader("Accept", "application/json");
        Request okhttpRequest = _requestBuilder.build();
        OkHttpClient client = clientOptions.httpClient();
        if (requestOptions != null && requestOptions.getTimeout().isPresent()) {
            client = clientOptions.httpClientWithTimeout(requestOptions);
        }
        CompletableFuture<SamsaraApiHttpResponse<V1DriverSafetyScoreResponse>> future = new CompletableFuture<>();
        client.newCall(okhttpRequest).enqueue(new Callback() {
            @Override
            public void onResponse(@NotNull Call call, @NotNull Response response) throws IOException {
                try (ResponseBody responseBody = response.body()) {
                    String responseBodyString = responseBody != null ? responseBody.string() : "{}";
                    if (response.isSuccessful()) {
                        future.complete(new SamsaraApiHttpResponse<>(
                                ObjectMappers.JSON_MAPPER.readValue(
                                        responseBodyString, V1DriverSafetyScoreResponse.class),
                                response));
                        return;
                    }
                    Object errorBody = ObjectMappers.parseErrorBody(responseBodyString);
                    future.completeExceptionally(new SamsaraApiApiException(
                            "Error with status code " + response.code(), response.code(), errorBody, response));
                    return;
                } catch (IOException e) {
                    future.completeExceptionally(new SamsaraApiException("Network error executing HTTP request", e));
                }
            }

            @Override
            public void onFailure(@NotNull Call call, @NotNull IOException e) {
                future.completeExceptionally(new SamsaraApiException("Network error executing HTTP request", e));
            }
        });
        return future;
    }

    /**
     * <p>&lt;n class=&quot;warning&quot;&gt;
     * &lt;nh&gt;
     * &lt;i class=&quot;fa fa-exclamation-circle&quot;&gt;&lt;/i&gt;
     * This endpoint is still on our legacy API.
     * &lt;/nh&gt;
     * &lt;/n&gt;</p>
     * Fetch the safety score for the vehicle.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Safety Events &amp; Scores</strong> under the Safety &amp; Cameras category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public CompletableFuture<SamsaraApiHttpResponse<V1VehicleSafetyScoreResponse>> v1GetVehicleSafetyScore(
            long vehicleId, V1GetVehicleSafetyScoreRequest request) {
        return v1GetVehicleSafetyScore(vehicleId, request, null);
    }

    /**
     * <p>&lt;n class=&quot;warning&quot;&gt;
     * &lt;nh&gt;
     * &lt;i class=&quot;fa fa-exclamation-circle&quot;&gt;&lt;/i&gt;
     * This endpoint is still on our legacy API.
     * &lt;/nh&gt;
     * &lt;/n&gt;</p>
     * Fetch the safety score for the vehicle.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Safety Events &amp; Scores</strong> under the Safety &amp; Cameras category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public CompletableFuture<SamsaraApiHttpResponse<V1VehicleSafetyScoreResponse>> v1GetVehicleSafetyScore(
            long vehicleId, V1GetVehicleSafetyScoreRequest request, RequestOptions requestOptions) {
        HttpUrl.Builder httpUrl = HttpUrl.parse(this.clientOptions.environment().getUrl())
                .newBuilder()
                .addPathSegments("v1/fleet/vehicles")
                .addPathSegment(Long.toString(vehicleId))
                .addPathSegments("safety")
                .addPathSegments("score");
        QueryStringMapper.addQueryParameter(httpUrl, "startMs", request.getStartMs(), false);
        QueryStringMapper.addQueryParameter(httpUrl, "endMs", request.getEndMs(), false);
        if (requestOptions != null) {
            requestOptions.getQueryParameters().forEach((_key, _value) -> {
                httpUrl.addQueryParameter(_key, _value);
            });
        }
        Request.Builder _requestBuilder = new Request.Builder()
                .url(httpUrl.build())
                .method("GET", null)
                .headers(Headers.of(clientOptions.headers(requestOptions)))
                .addHeader("Accept", "application/json");
        Request okhttpRequest = _requestBuilder.build();
        OkHttpClient client = clientOptions.httpClient();
        if (requestOptions != null && requestOptions.getTimeout().isPresent()) {
            client = clientOptions.httpClientWithTimeout(requestOptions);
        }
        CompletableFuture<SamsaraApiHttpResponse<V1VehicleSafetyScoreResponse>> future = new CompletableFuture<>();
        client.newCall(okhttpRequest).enqueue(new Callback() {
            @Override
            public void onResponse(@NotNull Call call, @NotNull Response response) throws IOException {
                try (ResponseBody responseBody = response.body()) {
                    String responseBodyString = responseBody != null ? responseBody.string() : "{}";
                    if (response.isSuccessful()) {
                        future.complete(new SamsaraApiHttpResponse<>(
                                ObjectMappers.JSON_MAPPER.readValue(
                                        responseBodyString, V1VehicleSafetyScoreResponse.class),
                                response));
                        return;
                    }
                    Object errorBody = ObjectMappers.parseErrorBody(responseBodyString);
                    future.completeExceptionally(new SamsaraApiApiException(
                            "Error with status code " + response.code(), response.code(), errorBody, response));
                    return;
                } catch (IOException e) {
                    future.completeExceptionally(new SamsaraApiException("Network error executing HTTP request", e));
                }
            }

            @Override
            public void onFailure(@NotNull Call call, @NotNull IOException e) {
                future.completeExceptionally(new SamsaraApiException("Network error executing HTTP request", e));
            }
        });
        return future;
    }
}
