/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.samsara.api.resources.documents.requests;

import com.fasterxml.jackson.annotation.JsonAnyGetter;
import com.fasterxml.jackson.annotation.JsonAnySetter;
import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonSetter;
import com.fasterxml.jackson.annotation.Nulls;
import com.fasterxml.jackson.databind.annotation.JsonDeserialize;
import com.samsara.api.core.ObjectMappers;
import com.samsara.api.resources.documents.types.DocumentsPostDocumentRequestBodyState;
import com.samsara.api.types.FieldObjectPostRequestBody;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.Objects;
import java.util.Optional;
import org.jetbrains.annotations.NotNull;

@JsonInclude(JsonInclude.Include.NON_ABSENT)
@JsonDeserialize(builder = DocumentsPostDocumentRequestBody.Builder.class)
public final class DocumentsPostDocumentRequestBody {
    private final String documentTypeId;

    private final String driverId;

    private final Optional<List<FieldObjectPostRequestBody>> fields;

    private final Optional<String> name;

    private final Optional<String> notes;

    private final Optional<String> routeStopId;

    private final Optional<DocumentsPostDocumentRequestBodyState> state;

    private final Optional<String> vehicleId;

    private final Map<String, Object> additionalProperties;

    private DocumentsPostDocumentRequestBody(
            String documentTypeId,
            String driverId,
            Optional<List<FieldObjectPostRequestBody>> fields,
            Optional<String> name,
            Optional<String> notes,
            Optional<String> routeStopId,
            Optional<DocumentsPostDocumentRequestBodyState> state,
            Optional<String> vehicleId,
            Map<String, Object> additionalProperties) {
        this.documentTypeId = documentTypeId;
        this.driverId = driverId;
        this.fields = fields;
        this.name = name;
        this.notes = notes;
        this.routeStopId = routeStopId;
        this.state = state;
        this.vehicleId = vehicleId;
        this.additionalProperties = additionalProperties;
    }

    /**
     * @return ID for the document type.
     */
    @JsonProperty("documentTypeId")
    public String getDocumentTypeId() {
        return documentTypeId;
    }

    /**
     * @return ID of the driver. Can be either unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the driver.
     */
    @JsonProperty("driverId")
    public String getDriverId() {
        return driverId;
    }

    /**
     * @return The fields associated with this document.
     */
    @JsonProperty("fields")
    public Optional<List<FieldObjectPostRequestBody>> getFields() {
        return fields;
    }

    /**
     * @return Name of the document.
     */
    @JsonProperty("name")
    public Optional<String> getName() {
        return name;
    }

    /**
     * @return Notes on the document.
     */
    @JsonProperty("notes")
    public Optional<String> getNotes() {
        return notes;
    }

    /**
     * @return ID of the route stop. Can be either unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the route stop.
     */
    @JsonProperty("routeStopId")
    public Optional<String> getRouteStopId() {
        return routeStopId;
    }

    /**
     * @return The condition of the document created for the driver. Can be either <code>required</code> or <code>submitted</code>, if no value is specified, <code>state</code> defaults to <code>required</code>. <code>required</code> documents are pre-populated documents for the Driver to fill out in the Driver App.  Valid values: <code>submitted</code>, <code>required</code>
     */
    @JsonProperty("state")
    public Optional<DocumentsPostDocumentRequestBodyState> getState() {
        return state;
    }

    /**
     * @return ID of the vehicle. Can be either unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the vehicle.
     */
    @JsonProperty("vehicleId")
    public Optional<String> getVehicleId() {
        return vehicleId;
    }

    @java.lang.Override
    public boolean equals(Object other) {
        if (this == other) return true;
        return other instanceof DocumentsPostDocumentRequestBody && equalTo((DocumentsPostDocumentRequestBody) other);
    }

    @JsonAnyGetter
    public Map<String, Object> getAdditionalProperties() {
        return this.additionalProperties;
    }

    private boolean equalTo(DocumentsPostDocumentRequestBody other) {
        return documentTypeId.equals(other.documentTypeId)
                && driverId.equals(other.driverId)
                && fields.equals(other.fields)
                && name.equals(other.name)
                && notes.equals(other.notes)
                && routeStopId.equals(other.routeStopId)
                && state.equals(other.state)
                && vehicleId.equals(other.vehicleId);
    }

    @java.lang.Override
    public int hashCode() {
        return Objects.hash(
                this.documentTypeId,
                this.driverId,
                this.fields,
                this.name,
                this.notes,
                this.routeStopId,
                this.state,
                this.vehicleId);
    }

    @java.lang.Override
    public String toString() {
        return ObjectMappers.stringify(this);
    }

    public static DocumentTypeIdStage builder() {
        return new Builder();
    }

    public interface DocumentTypeIdStage {
        /**
         * <p>ID for the document type.</p>
         */
        DriverIdStage documentTypeId(@NotNull String documentTypeId);

        Builder from(DocumentsPostDocumentRequestBody other);
    }

    public interface DriverIdStage {
        /**
         * <p>ID of the driver. Can be either unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the driver.</p>
         */
        _FinalStage driverId(@NotNull String driverId);
    }

    public interface _FinalStage {
        DocumentsPostDocumentRequestBody build();

        /**
         * <p>The fields associated with this document.</p>
         */
        _FinalStage fields(Optional<List<FieldObjectPostRequestBody>> fields);

        _FinalStage fields(List<FieldObjectPostRequestBody> fields);

        /**
         * <p>Name of the document.</p>
         */
        _FinalStage name(Optional<String> name);

        _FinalStage name(String name);

        /**
         * <p>Notes on the document.</p>
         */
        _FinalStage notes(Optional<String> notes);

        _FinalStage notes(String notes);

        /**
         * <p>ID of the route stop. Can be either unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the route stop.</p>
         */
        _FinalStage routeStopId(Optional<String> routeStopId);

        _FinalStage routeStopId(String routeStopId);

        /**
         * <p>The condition of the document created for the driver. Can be either <code>required</code> or <code>submitted</code>, if no value is specified, <code>state</code> defaults to <code>required</code>. <code>required</code> documents are pre-populated documents for the Driver to fill out in the Driver App.  Valid values: <code>submitted</code>, <code>required</code></p>
         */
        _FinalStage state(Optional<DocumentsPostDocumentRequestBodyState> state);

        _FinalStage state(DocumentsPostDocumentRequestBodyState state);

        /**
         * <p>ID of the vehicle. Can be either unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the vehicle.</p>
         */
        _FinalStage vehicleId(Optional<String> vehicleId);

        _FinalStage vehicleId(String vehicleId);
    }

    @JsonIgnoreProperties(ignoreUnknown = true)
    public static final class Builder implements DocumentTypeIdStage, DriverIdStage, _FinalStage {
        private String documentTypeId;

        private String driverId;

        private Optional<String> vehicleId = Optional.empty();

        private Optional<DocumentsPostDocumentRequestBodyState> state = Optional.empty();

        private Optional<String> routeStopId = Optional.empty();

        private Optional<String> notes = Optional.empty();

        private Optional<String> name = Optional.empty();

        private Optional<List<FieldObjectPostRequestBody>> fields = Optional.empty();

        @JsonAnySetter
        private Map<String, Object> additionalProperties = new HashMap<>();

        private Builder() {}

        @java.lang.Override
        public Builder from(DocumentsPostDocumentRequestBody other) {
            documentTypeId(other.getDocumentTypeId());
            driverId(other.getDriverId());
            fields(other.getFields());
            name(other.getName());
            notes(other.getNotes());
            routeStopId(other.getRouteStopId());
            state(other.getState());
            vehicleId(other.getVehicleId());
            return this;
        }

        /**
         * <p>ID for the document type.</p>
         * <p>ID for the document type.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        @JsonSetter("documentTypeId")
        public DriverIdStage documentTypeId(@NotNull String documentTypeId) {
            this.documentTypeId = Objects.requireNonNull(documentTypeId, "documentTypeId must not be null");
            return this;
        }

        /**
         * <p>ID of the driver. Can be either unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the driver.</p>
         * <p>ID of the driver. Can be either unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the driver.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        @JsonSetter("driverId")
        public _FinalStage driverId(@NotNull String driverId) {
            this.driverId = Objects.requireNonNull(driverId, "driverId must not be null");
            return this;
        }

        /**
         * <p>ID of the vehicle. Can be either unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the vehicle.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage vehicleId(String vehicleId) {
            this.vehicleId = Optional.ofNullable(vehicleId);
            return this;
        }

        /**
         * <p>ID of the vehicle. Can be either unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the vehicle.</p>
         */
        @java.lang.Override
        @JsonSetter(value = "vehicleId", nulls = Nulls.SKIP)
        public _FinalStage vehicleId(Optional<String> vehicleId) {
            this.vehicleId = vehicleId;
            return this;
        }

        /**
         * <p>The condition of the document created for the driver. Can be either <code>required</code> or <code>submitted</code>, if no value is specified, <code>state</code> defaults to <code>required</code>. <code>required</code> documents are pre-populated documents for the Driver to fill out in the Driver App.  Valid values: <code>submitted</code>, <code>required</code></p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage state(DocumentsPostDocumentRequestBodyState state) {
            this.state = Optional.ofNullable(state);
            return this;
        }

        /**
         * <p>The condition of the document created for the driver. Can be either <code>required</code> or <code>submitted</code>, if no value is specified, <code>state</code> defaults to <code>required</code>. <code>required</code> documents are pre-populated documents for the Driver to fill out in the Driver App.  Valid values: <code>submitted</code>, <code>required</code></p>
         */
        @java.lang.Override
        @JsonSetter(value = "state", nulls = Nulls.SKIP)
        public _FinalStage state(Optional<DocumentsPostDocumentRequestBodyState> state) {
            this.state = state;
            return this;
        }

        /**
         * <p>ID of the route stop. Can be either unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the route stop.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage routeStopId(String routeStopId) {
            this.routeStopId = Optional.ofNullable(routeStopId);
            return this;
        }

        /**
         * <p>ID of the route stop. Can be either unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the route stop.</p>
         */
        @java.lang.Override
        @JsonSetter(value = "routeStopId", nulls = Nulls.SKIP)
        public _FinalStage routeStopId(Optional<String> routeStopId) {
            this.routeStopId = routeStopId;
            return this;
        }

        /**
         * <p>Notes on the document.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage notes(String notes) {
            this.notes = Optional.ofNullable(notes);
            return this;
        }

        /**
         * <p>Notes on the document.</p>
         */
        @java.lang.Override
        @JsonSetter(value = "notes", nulls = Nulls.SKIP)
        public _FinalStage notes(Optional<String> notes) {
            this.notes = notes;
            return this;
        }

        /**
         * <p>Name of the document.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage name(String name) {
            this.name = Optional.ofNullable(name);
            return this;
        }

        /**
         * <p>Name of the document.</p>
         */
        @java.lang.Override
        @JsonSetter(value = "name", nulls = Nulls.SKIP)
        public _FinalStage name(Optional<String> name) {
            this.name = name;
            return this;
        }

        /**
         * <p>The fields associated with this document.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage fields(List<FieldObjectPostRequestBody> fields) {
            this.fields = Optional.ofNullable(fields);
            return this;
        }

        /**
         * <p>The fields associated with this document.</p>
         */
        @java.lang.Override
        @JsonSetter(value = "fields", nulls = Nulls.SKIP)
        public _FinalStage fields(Optional<List<FieldObjectPostRequestBody>> fields) {
            this.fields = fields;
            return this;
        }

        @java.lang.Override
        public DocumentsPostDocumentRequestBody build() {
            return new DocumentsPostDocumentRequestBody(
                    documentTypeId, driverId, fields, name, notes, routeStopId, state, vehicleId, additionalProperties);
        }
    }
}
