/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.samsara.api.resources.idling;

import com.fasterxml.jackson.core.JsonProcessingException;
import com.samsara.api.core.ClientOptions;
import com.samsara.api.core.ObjectMappers;
import com.samsara.api.core.QueryStringMapper;
import com.samsara.api.core.RequestOptions;
import com.samsara.api.core.SamsaraApiApiException;
import com.samsara.api.core.SamsaraApiException;
import com.samsara.api.core.SamsaraApiHttpResponse;
import com.samsara.api.errors.BadGatewayError;
import com.samsara.api.errors.GatewayTimeoutError;
import com.samsara.api.errors.InternalServerError;
import com.samsara.api.errors.MethodNotAllowedError;
import com.samsara.api.errors.NotFoundError;
import com.samsara.api.errors.NotImplementedError;
import com.samsara.api.errors.ServiceUnavailableError;
import com.samsara.api.errors.TooManyRequestsError;
import com.samsara.api.errors.UnauthorizedError;
import com.samsara.api.resources.idling.requests.GetIdlingEventsRequest;
import com.samsara.api.types.AdvancedIdlingGetIdlingEventsResponseBody;
import java.io.IOException;
import okhttp3.Headers;
import okhttp3.HttpUrl;
import okhttp3.OkHttpClient;
import okhttp3.Request;
import okhttp3.Response;
import okhttp3.ResponseBody;

public class RawIdlingClient {
    protected final ClientOptions clientOptions;

    public RawIdlingClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
    }

    /**
     * Get idling events for the requested time duration.
     * <p><strong>Note:</strong> The data from this endpoint comes from the new Advanced Idling Report, which provides additional data fields for each idling event such as air temperature, geofence, PTO state and minimum idle time. This endpoint includes data from January 1, 2024. If you require additional historical data, you can access it via the <a href="/api-reference/legacy/legacy-apis/get-vehicle-idling-reports">vehicle idling reports API</a>.</p>
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Idling</strong> under the Fuel &amp; Energy category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public SamsaraApiHttpResponse<AdvancedIdlingGetIdlingEventsResponseBody> getIdlingEvents(
            GetIdlingEventsRequest request) {
        return getIdlingEvents(request, null);
    }

    /**
     * Get idling events for the requested time duration.
     * <p><strong>Note:</strong> The data from this endpoint comes from the new Advanced Idling Report, which provides additional data fields for each idling event such as air temperature, geofence, PTO state and minimum idle time. This endpoint includes data from January 1, 2024. If you require additional historical data, you can access it via the <a href="/api-reference/legacy/legacy-apis/get-vehicle-idling-reports">vehicle idling reports API</a>.</p>
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Idling</strong> under the Fuel &amp; Energy category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public SamsaraApiHttpResponse<AdvancedIdlingGetIdlingEventsResponseBody> getIdlingEvents(
            GetIdlingEventsRequest request, RequestOptions requestOptions) {
        HttpUrl.Builder httpUrl = HttpUrl.parse(this.clientOptions.environment().getUrl())
                .newBuilder()
                .addPathSegments("idling/events");
        QueryStringMapper.addQueryParameter(httpUrl, "startTime", request.getStartTime(), false);
        QueryStringMapper.addQueryParameter(httpUrl, "endTime", request.getEndTime(), false);
        if (request.getPtoState().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "ptoState", request.getPtoState().get(), false);
        }
        if (request.getMinAirTemperatureMillicelsius().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl,
                    "minAirTemperatureMillicelsius",
                    request.getMinAirTemperatureMillicelsius().get(),
                    false);
        }
        if (request.getMaxAirTemperatureMillicelsius().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl,
                    "maxAirTemperatureMillicelsius",
                    request.getMaxAirTemperatureMillicelsius().get(),
                    false);
        }
        if (request.getExcludeEventsWithUnknownAirTemperature().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl,
                    "excludeEventsWithUnknownAirTemperature",
                    request.getExcludeEventsWithUnknownAirTemperature().get(),
                    false);
        }
        if (request.getMinDurationMilliseconds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl,
                    "minDurationMilliseconds",
                    request.getMinDurationMilliseconds().get(),
                    false);
        }
        if (request.getMaxDurationMilliseconds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl,
                    "maxDurationMilliseconds",
                    request.getMaxDurationMilliseconds().get(),
                    false);
        }
        if (request.getIncludeExternalIds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl,
                    "includeExternalIds",
                    request.getIncludeExternalIds().get(),
                    false);
        }
        if (request.getAfter().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "after", request.getAfter().get(), false);
        }
        if (request.getLimit().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "limit", request.getLimit().get(), false);
        }
        if (request.getAssetIds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "assetIds", request.getAssetIds().get(), true);
        }
        if (request.getOperatorIds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "operatorIds", request.getOperatorIds().get(), true);
        }
        if (request.getTagIds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "tagIds", request.getTagIds().get(), true);
        }
        if (request.getParentTagIds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "parentTagIds", request.getParentTagIds().get(), true);
        }
        if (requestOptions != null) {
            requestOptions.getQueryParameters().forEach((_key, _value) -> {
                httpUrl.addQueryParameter(_key, _value);
            });
        }
        Request.Builder _requestBuilder = new Request.Builder()
                .url(httpUrl.build())
                .method("GET", null)
                .headers(Headers.of(clientOptions.headers(requestOptions)))
                .addHeader("Accept", "application/json");
        Request okhttpRequest = _requestBuilder.build();
        OkHttpClient client = clientOptions.httpClient();
        if (requestOptions != null && requestOptions.getTimeout().isPresent()) {
            client = clientOptions.httpClientWithTimeout(requestOptions);
        }
        try (Response response = client.newCall(okhttpRequest).execute()) {
            ResponseBody responseBody = response.body();
            String responseBodyString = responseBody != null ? responseBody.string() : "{}";
            if (response.isSuccessful()) {
                return new SamsaraApiHttpResponse<>(
                        ObjectMappers.JSON_MAPPER.readValue(
                                responseBodyString, AdvancedIdlingGetIdlingEventsResponseBody.class),
                        response);
            }
            try {
                switch (response.code()) {
                    case 401:
                        throw new UnauthorizedError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 404:
                        throw new NotFoundError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 405:
                        throw new MethodNotAllowedError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 429:
                        throw new TooManyRequestsError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 500:
                        throw new InternalServerError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 501:
                        throw new NotImplementedError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 502:
                        throw new BadGatewayError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 503:
                        throw new ServiceUnavailableError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 504:
                        throw new GatewayTimeoutError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                }
            } catch (JsonProcessingException ignored) {
                // unable to map error response, throwing generic error
            }
            Object errorBody = ObjectMappers.parseErrorBody(responseBodyString);
            throw new SamsaraApiApiException(
                    "Error with status code " + response.code(), response.code(), errorBody, response);
        } catch (IOException e) {
            throw new SamsaraApiException("Network error executing HTTP request", e);
        }
    }
}
