/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.samsara.api.resources.addresses.requests;

import com.fasterxml.jackson.annotation.JsonAnyGetter;
import com.fasterxml.jackson.annotation.JsonAnySetter;
import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonSetter;
import com.fasterxml.jackson.annotation.Nulls;
import com.fasterxml.jackson.databind.annotation.JsonDeserialize;
import com.samsara.api.core.ObjectMappers;
import com.samsara.api.resources.addresses.types.CreateAddressRequestAddressTypesItem;
import com.samsara.api.types.CreateAddressRequestGeofence;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.Objects;
import java.util.Optional;
import org.jetbrains.annotations.NotNull;

@JsonInclude(JsonInclude.Include.NON_ABSENT)
@JsonDeserialize(builder = CreateAddressRequest.Builder.class)
public final class CreateAddressRequest {
    private final Optional<List<CreateAddressRequestAddressTypesItem>> addressTypes;

    private final Optional<List<String>> contactIds;

    private final Optional<Map<String, String>> externalIds;

    private final String formattedAddress;

    private final CreateAddressRequestGeofence geofence;

    private final Optional<Double> latitude;

    private final Optional<Double> longitude;

    private final String name;

    private final Optional<String> notes;

    private final Optional<List<String>> tagIds;

    private final Map<String, Object> additionalProperties;

    private CreateAddressRequest(
            Optional<List<CreateAddressRequestAddressTypesItem>> addressTypes,
            Optional<List<String>> contactIds,
            Optional<Map<String, String>> externalIds,
            String formattedAddress,
            CreateAddressRequestGeofence geofence,
            Optional<Double> latitude,
            Optional<Double> longitude,
            String name,
            Optional<String> notes,
            Optional<List<String>> tagIds,
            Map<String, Object> additionalProperties) {
        this.addressTypes = addressTypes;
        this.contactIds = contactIds;
        this.externalIds = externalIds;
        this.formattedAddress = formattedAddress;
        this.geofence = geofence;
        this.latitude = latitude;
        this.longitude = longitude;
        this.name = name;
        this.notes = notes;
        this.tagIds = tagIds;
        this.additionalProperties = additionalProperties;
    }

    /**
     * @return Reporting location type associated with the address (used for ELD reporting purposes). Valid values: <code>yard</code>, <code>shortHaul</code>, <code>workforceSite</code>, <code>riskZone</code>, <code>industrialSite</code>, <code>alertsOnly</code>, <code>agricultureSource</code>, <code>avoidanceZone</code>, <code>knownGPSJammingZone</code>, <code>authorizedZone</code>, <code>unauthorizedZone</code>.
     */
    @JsonProperty("addressTypes")
    public Optional<List<CreateAddressRequestAddressTypesItem>> getAddressTypes() {
        return addressTypes;
    }

    /**
     * @return An array of Contact IDs associated with this Address.
     */
    @JsonProperty("contactIds")
    public Optional<List<String>> getContactIds() {
        return contactIds;
    }

    /**
     * @return The <a href="/docs/external-ids">external IDs</a> for the given object.
     */
    @JsonProperty("externalIds")
    public Optional<Map<String, String>> getExternalIds() {
        return externalIds;
    }

    /**
     * @return The full street address for this address/geofence, as it might be recognized by Google Maps.
     */
    @JsonProperty("formattedAddress")
    public String getFormattedAddress() {
        return formattedAddress;
    }

    @JsonProperty("geofence")
    public CreateAddressRequestGeofence getGeofence() {
        return geofence;
    }

    /**
     * @return Latitude of the address. Will be geocoded from <code>formattedAddress</code> if not provided.
     */
    @JsonProperty("latitude")
    public Optional<Double> getLatitude() {
        return latitude;
    }

    /**
     * @return Longitude of the address. Will be geocoded from <code>formattedAddress</code> if not provided.
     */
    @JsonProperty("longitude")
    public Optional<Double> getLongitude() {
        return longitude;
    }

    /**
     * @return Name of the address.
     */
    @JsonProperty("name")
    public String getName() {
        return name;
    }

    /**
     * @return Notes about the address.
     */
    @JsonProperty("notes")
    public Optional<String> getNotes() {
        return notes;
    }

    /**
     * @return An array of IDs of tags to associate with this address.
     */
    @JsonProperty("tagIds")
    public Optional<List<String>> getTagIds() {
        return tagIds;
    }

    @java.lang.Override
    public boolean equals(Object other) {
        if (this == other) return true;
        return other instanceof CreateAddressRequest && equalTo((CreateAddressRequest) other);
    }

    @JsonAnyGetter
    public Map<String, Object> getAdditionalProperties() {
        return this.additionalProperties;
    }

    private boolean equalTo(CreateAddressRequest other) {
        return addressTypes.equals(other.addressTypes)
                && contactIds.equals(other.contactIds)
                && externalIds.equals(other.externalIds)
                && formattedAddress.equals(other.formattedAddress)
                && geofence.equals(other.geofence)
                && latitude.equals(other.latitude)
                && longitude.equals(other.longitude)
                && name.equals(other.name)
                && notes.equals(other.notes)
                && tagIds.equals(other.tagIds);
    }

    @java.lang.Override
    public int hashCode() {
        return Objects.hash(
                this.addressTypes,
                this.contactIds,
                this.externalIds,
                this.formattedAddress,
                this.geofence,
                this.latitude,
                this.longitude,
                this.name,
                this.notes,
                this.tagIds);
    }

    @java.lang.Override
    public String toString() {
        return ObjectMappers.stringify(this);
    }

    public static FormattedAddressStage builder() {
        return new Builder();
    }

    public interface FormattedAddressStage {
        /**
         * <p>The full street address for this address/geofence, as it might be recognized by Google Maps.</p>
         */
        GeofenceStage formattedAddress(@NotNull String formattedAddress);

        Builder from(CreateAddressRequest other);
    }

    public interface GeofenceStage {
        NameStage geofence(@NotNull CreateAddressRequestGeofence geofence);
    }

    public interface NameStage {
        /**
         * <p>Name of the address.</p>
         */
        _FinalStage name(@NotNull String name);
    }

    public interface _FinalStage {
        CreateAddressRequest build();

        /**
         * <p>Reporting location type associated with the address (used for ELD reporting purposes). Valid values: <code>yard</code>, <code>shortHaul</code>, <code>workforceSite</code>, <code>riskZone</code>, <code>industrialSite</code>, <code>alertsOnly</code>, <code>agricultureSource</code>, <code>avoidanceZone</code>, <code>knownGPSJammingZone</code>, <code>authorizedZone</code>, <code>unauthorizedZone</code>.</p>
         */
        _FinalStage addressTypes(Optional<List<CreateAddressRequestAddressTypesItem>> addressTypes);

        _FinalStage addressTypes(List<CreateAddressRequestAddressTypesItem> addressTypes);

        /**
         * <p>An array of Contact IDs associated with this Address.</p>
         */
        _FinalStage contactIds(Optional<List<String>> contactIds);

        _FinalStage contactIds(List<String> contactIds);

        /**
         * <p>The <a href="/docs/external-ids">external IDs</a> for the given object.</p>
         */
        _FinalStage externalIds(Optional<Map<String, String>> externalIds);

        _FinalStage externalIds(Map<String, String> externalIds);

        /**
         * <p>Latitude of the address. Will be geocoded from <code>formattedAddress</code> if not provided.</p>
         */
        _FinalStage latitude(Optional<Double> latitude);

        _FinalStage latitude(Double latitude);

        /**
         * <p>Longitude of the address. Will be geocoded from <code>formattedAddress</code> if not provided.</p>
         */
        _FinalStage longitude(Optional<Double> longitude);

        _FinalStage longitude(Double longitude);

        /**
         * <p>Notes about the address.</p>
         */
        _FinalStage notes(Optional<String> notes);

        _FinalStage notes(String notes);

        /**
         * <p>An array of IDs of tags to associate with this address.</p>
         */
        _FinalStage tagIds(Optional<List<String>> tagIds);

        _FinalStage tagIds(List<String> tagIds);
    }

    @JsonIgnoreProperties(ignoreUnknown = true)
    public static final class Builder implements FormattedAddressStage, GeofenceStage, NameStage, _FinalStage {
        private String formattedAddress;

        private CreateAddressRequestGeofence geofence;

        private String name;

        private Optional<List<String>> tagIds = Optional.empty();

        private Optional<String> notes = Optional.empty();

        private Optional<Double> longitude = Optional.empty();

        private Optional<Double> latitude = Optional.empty();

        private Optional<Map<String, String>> externalIds = Optional.empty();

        private Optional<List<String>> contactIds = Optional.empty();

        private Optional<List<CreateAddressRequestAddressTypesItem>> addressTypes = Optional.empty();

        @JsonAnySetter
        private Map<String, Object> additionalProperties = new HashMap<>();

        private Builder() {}

        @java.lang.Override
        public Builder from(CreateAddressRequest other) {
            addressTypes(other.getAddressTypes());
            contactIds(other.getContactIds());
            externalIds(other.getExternalIds());
            formattedAddress(other.getFormattedAddress());
            geofence(other.getGeofence());
            latitude(other.getLatitude());
            longitude(other.getLongitude());
            name(other.getName());
            notes(other.getNotes());
            tagIds(other.getTagIds());
            return this;
        }

        /**
         * <p>The full street address for this address/geofence, as it might be recognized by Google Maps.</p>
         * <p>The full street address for this address/geofence, as it might be recognized by Google Maps.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        @JsonSetter("formattedAddress")
        public GeofenceStage formattedAddress(@NotNull String formattedAddress) {
            this.formattedAddress = Objects.requireNonNull(formattedAddress, "formattedAddress must not be null");
            return this;
        }

        @java.lang.Override
        @JsonSetter("geofence")
        public NameStage geofence(@NotNull CreateAddressRequestGeofence geofence) {
            this.geofence = Objects.requireNonNull(geofence, "geofence must not be null");
            return this;
        }

        /**
         * <p>Name of the address.</p>
         * <p>Name of the address.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        @JsonSetter("name")
        public _FinalStage name(@NotNull String name) {
            this.name = Objects.requireNonNull(name, "name must not be null");
            return this;
        }

        /**
         * <p>An array of IDs of tags to associate with this address.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage tagIds(List<String> tagIds) {
            this.tagIds = Optional.ofNullable(tagIds);
            return this;
        }

        /**
         * <p>An array of IDs of tags to associate with this address.</p>
         */
        @java.lang.Override
        @JsonSetter(value = "tagIds", nulls = Nulls.SKIP)
        public _FinalStage tagIds(Optional<List<String>> tagIds) {
            this.tagIds = tagIds;
            return this;
        }

        /**
         * <p>Notes about the address.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage notes(String notes) {
            this.notes = Optional.ofNullable(notes);
            return this;
        }

        /**
         * <p>Notes about the address.</p>
         */
        @java.lang.Override
        @JsonSetter(value = "notes", nulls = Nulls.SKIP)
        public _FinalStage notes(Optional<String> notes) {
            this.notes = notes;
            return this;
        }

        /**
         * <p>Longitude of the address. Will be geocoded from <code>formattedAddress</code> if not provided.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage longitude(Double longitude) {
            this.longitude = Optional.ofNullable(longitude);
            return this;
        }

        /**
         * <p>Longitude of the address. Will be geocoded from <code>formattedAddress</code> if not provided.</p>
         */
        @java.lang.Override
        @JsonSetter(value = "longitude", nulls = Nulls.SKIP)
        public _FinalStage longitude(Optional<Double> longitude) {
            this.longitude = longitude;
            return this;
        }

        /**
         * <p>Latitude of the address. Will be geocoded from <code>formattedAddress</code> if not provided.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage latitude(Double latitude) {
            this.latitude = Optional.ofNullable(latitude);
            return this;
        }

        /**
         * <p>Latitude of the address. Will be geocoded from <code>formattedAddress</code> if not provided.</p>
         */
        @java.lang.Override
        @JsonSetter(value = "latitude", nulls = Nulls.SKIP)
        public _FinalStage latitude(Optional<Double> latitude) {
            this.latitude = latitude;
            return this;
        }

        /**
         * <p>The <a href="/docs/external-ids">external IDs</a> for the given object.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage externalIds(Map<String, String> externalIds) {
            this.externalIds = Optional.ofNullable(externalIds);
            return this;
        }

        /**
         * <p>The <a href="/docs/external-ids">external IDs</a> for the given object.</p>
         */
        @java.lang.Override
        @JsonSetter(value = "externalIds", nulls = Nulls.SKIP)
        public _FinalStage externalIds(Optional<Map<String, String>> externalIds) {
            this.externalIds = externalIds;
            return this;
        }

        /**
         * <p>An array of Contact IDs associated with this Address.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage contactIds(List<String> contactIds) {
            this.contactIds = Optional.ofNullable(contactIds);
            return this;
        }

        /**
         * <p>An array of Contact IDs associated with this Address.</p>
         */
        @java.lang.Override
        @JsonSetter(value = "contactIds", nulls = Nulls.SKIP)
        public _FinalStage contactIds(Optional<List<String>> contactIds) {
            this.contactIds = contactIds;
            return this;
        }

        /**
         * <p>Reporting location type associated with the address (used for ELD reporting purposes). Valid values: <code>yard</code>, <code>shortHaul</code>, <code>workforceSite</code>, <code>riskZone</code>, <code>industrialSite</code>, <code>alertsOnly</code>, <code>agricultureSource</code>, <code>avoidanceZone</code>, <code>knownGPSJammingZone</code>, <code>authorizedZone</code>, <code>unauthorizedZone</code>.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage addressTypes(List<CreateAddressRequestAddressTypesItem> addressTypes) {
            this.addressTypes = Optional.ofNullable(addressTypes);
            return this;
        }

        /**
         * <p>Reporting location type associated with the address (used for ELD reporting purposes). Valid values: <code>yard</code>, <code>shortHaul</code>, <code>workforceSite</code>, <code>riskZone</code>, <code>industrialSite</code>, <code>alertsOnly</code>, <code>agricultureSource</code>, <code>avoidanceZone</code>, <code>knownGPSJammingZone</code>, <code>authorizedZone</code>, <code>unauthorizedZone</code>.</p>
         */
        @java.lang.Override
        @JsonSetter(value = "addressTypes", nulls = Nulls.SKIP)
        public _FinalStage addressTypes(Optional<List<CreateAddressRequestAddressTypesItem>> addressTypes) {
            this.addressTypes = addressTypes;
            return this;
        }

        @java.lang.Override
        public CreateAddressRequest build() {
            return new CreateAddressRequest(
                    addressTypes,
                    contactIds,
                    externalIds,
                    formattedAddress,
                    geofence,
                    latitude,
                    longitude,
                    name,
                    notes,
                    tagIds,
                    additionalProperties);
        }
    }
}
