/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.samsara.api.resources.drivervehicleassignments;

import com.samsara.api.core.ClientOptions;
import com.samsara.api.core.RequestOptions;
import com.samsara.api.resources.drivervehicleassignments.requests.DriverVehicleAssignmentsV2CreateDriverVehicleAssignmentRequestBody;
import com.samsara.api.resources.drivervehicleassignments.requests.DriverVehicleAssignmentsV2DeleteDriverVehicleAssignmentsRequestBody;
import com.samsara.api.resources.drivervehicleassignments.requests.DriverVehicleAssignmentsV2UpdateDriverVehicleAssignmentRequestBody;
import com.samsara.api.resources.drivervehicleassignments.requests.GetDriverVehicleAssignmentsRequest;
import com.samsara.api.types.DriverVehicleAssignmentsV2CreateDriverVehicleAssignmentResponseBody;
import com.samsara.api.types.DriverVehicleAssignmentsV2GetDriverVehicleAssignmentsResponseBody;
import com.samsara.api.types.DriverVehicleAssignmentsV2UpdateDriverVehicleAssignmentResponseBody;

public class DriverVehicleAssignmentsClient {
    protected final ClientOptions clientOptions;

    private final RawDriverVehicleAssignmentsClient rawClient;

    public DriverVehicleAssignmentsClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.rawClient = new RawDriverVehicleAssignmentsClient(clientOptions);
    }

    /**
     * Get responses with HTTP metadata like headers
     */
    public RawDriverVehicleAssignmentsClient withRawResponse() {
        return this.rawClient;
    }

    /**
     * Get all driver-vehicle assignments for the requested drivers or vehicles in the requested time range. To fetch driver-vehicle assignments out of the vehicle trips' time ranges, assignmentType needs to be specified. Note: this endpoint replaces past endpoints to fetch assignments by driver or by vehicle. Visit <a href="/docs/migrating-from-driver-vehicle-assignment-or-vehicle-driver-assignment-endpoints">this migration guide</a> for more information.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Assignments</strong> under the Assignments category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public DriverVehicleAssignmentsV2GetDriverVehicleAssignmentsResponseBody getDriverVehicleAssignments(
            GetDriverVehicleAssignmentsRequest request) {
        return this.rawClient.getDriverVehicleAssignments(request).body();
    }

    /**
     * Get all driver-vehicle assignments for the requested drivers or vehicles in the requested time range. To fetch driver-vehicle assignments out of the vehicle trips' time ranges, assignmentType needs to be specified. Note: this endpoint replaces past endpoints to fetch assignments by driver or by vehicle. Visit <a href="/docs/migrating-from-driver-vehicle-assignment-or-vehicle-driver-assignment-endpoints">this migration guide</a> for more information.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Assignments</strong> under the Assignments category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public DriverVehicleAssignmentsV2GetDriverVehicleAssignmentsResponseBody getDriverVehicleAssignments(
            GetDriverVehicleAssignmentsRequest request, RequestOptions requestOptions) {
        return this.rawClient
                .getDriverVehicleAssignments(request, requestOptions)
                .body();
    }

    /**
     * Assign vehicle drive-time to a driver via API. For a step-by-step instruction on how to leverage this endpoint, see <a href="/docs/creating-driver-vehicle-assignments">this guide</a>
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Assignments</strong> under the Assignments category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public DriverVehicleAssignmentsV2CreateDriverVehicleAssignmentResponseBody createDriverVehicleAssignment(
            DriverVehicleAssignmentsV2CreateDriverVehicleAssignmentRequestBody request) {
        return this.rawClient.createDriverVehicleAssignment(request).body();
    }

    /**
     * Assign vehicle drive-time to a driver via API. For a step-by-step instruction on how to leverage this endpoint, see <a href="/docs/creating-driver-vehicle-assignments">this guide</a>
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Assignments</strong> under the Assignments category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public DriverVehicleAssignmentsV2CreateDriverVehicleAssignmentResponseBody createDriverVehicleAssignment(
            DriverVehicleAssignmentsV2CreateDriverVehicleAssignmentRequestBody request, RequestOptions requestOptions) {
        return this.rawClient
                .createDriverVehicleAssignment(request, requestOptions)
                .body();
    }

    /**
     * Delete driver assignments that were created using the <code>POST fleet/driver-vehicle-assignments</code> endpoint for the requested vehicle in the requested time range.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Assignments</strong> under the Assignments category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public void deleteDriverVehicleAssignments(
            DriverVehicleAssignmentsV2DeleteDriverVehicleAssignmentsRequestBody request) {
        this.rawClient.deleteDriverVehicleAssignments(request).body();
    }

    /**
     * Delete driver assignments that were created using the <code>POST fleet/driver-vehicle-assignments</code> endpoint for the requested vehicle in the requested time range.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Assignments</strong> under the Assignments category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public void deleteDriverVehicleAssignments(
            DriverVehicleAssignmentsV2DeleteDriverVehicleAssignmentsRequestBody request,
            RequestOptions requestOptions) {
        this.rawClient.deleteDriverVehicleAssignments(request, requestOptions).body();
    }

    /**
     * Update driver assignments that were created using the <code>POST fleet/driver-vehicle-assignments</code>. Vehicle Id, Driver Id, and Start Time must match an existing assignment.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Assignments</strong> under the Assignments category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public DriverVehicleAssignmentsV2UpdateDriverVehicleAssignmentResponseBody updateDriverVehicleAssignment(
            DriverVehicleAssignmentsV2UpdateDriverVehicleAssignmentRequestBody request) {
        return this.rawClient.updateDriverVehicleAssignment(request).body();
    }

    /**
     * Update driver assignments that were created using the <code>POST fleet/driver-vehicle-assignments</code>. Vehicle Id, Driver Id, and Start Time must match an existing assignment.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Assignments</strong> under the Assignments category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public DriverVehicleAssignmentsV2UpdateDriverVehicleAssignmentResponseBody updateDriverVehicleAssignment(
            DriverVehicleAssignmentsV2UpdateDriverVehicleAssignmentRequestBody request, RequestOptions requestOptions) {
        return this.rawClient
                .updateDriverVehicleAssignment(request, requestOptions)
                .body();
    }
}
