/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.samsara.api.resources.drivervehicleassignments.requests;

import com.fasterxml.jackson.annotation.JsonAnyGetter;
import com.fasterxml.jackson.annotation.JsonAnySetter;
import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonSetter;
import com.fasterxml.jackson.annotation.Nulls;
import com.fasterxml.jackson.databind.annotation.JsonDeserialize;
import com.samsara.api.core.ObjectMappers;
import java.util.HashMap;
import java.util.Map;
import java.util.Objects;
import java.util.Optional;
import org.jetbrains.annotations.NotNull;

@JsonInclude(JsonInclude.Include.NON_ABSENT)
@JsonDeserialize(builder = DriverVehicleAssignmentsV2DeleteDriverVehicleAssignmentsRequestBody.Builder.class)
public final class DriverVehicleAssignmentsV2DeleteDriverVehicleAssignmentsRequestBody {
    private final Optional<String> assignedAtTime;

    private final Optional<String> endTime;

    private final Optional<Boolean> isPassenger;

    private final Optional<String> startTime;

    private final String vehicleId;

    private final Map<String, Object> additionalProperties;

    private DriverVehicleAssignmentsV2DeleteDriverVehicleAssignmentsRequestBody(
            Optional<String> assignedAtTime,
            Optional<String> endTime,
            Optional<Boolean> isPassenger,
            Optional<String> startTime,
            String vehicleId,
            Map<String, Object> additionalProperties) {
        this.assignedAtTime = assignedAtTime;
        this.endTime = endTime;
        this.isPassenger = isPassenger;
        this.startTime = startTime;
        this.vehicleId = vehicleId;
        this.additionalProperties = additionalProperties;
    }

    /**
     * @return Assigned at time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).
     */
    @JsonProperty("assignedAtTime")
    public Optional<String> getAssignedAtTime() {
        return assignedAtTime;
    }

    /**
     * @return An end time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).
     */
    @JsonProperty("endTime")
    public Optional<String> getEndTime() {
        return endTime;
    }

    /**
     * @return Indicates if assigned driver is passenger
     */
    @JsonProperty("isPassenger")
    public Optional<Boolean> getIsPassenger() {
        return isPassenger;
    }

    /**
     * @return A start time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).
     */
    @JsonProperty("startTime")
    public Optional<String> getStartTime() {
        return startTime;
    }

    /**
     * @return ID of the vehicle. This can be either a unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the vehicle.
     */
    @JsonProperty("vehicleId")
    public String getVehicleId() {
        return vehicleId;
    }

    @java.lang.Override
    public boolean equals(Object other) {
        if (this == other) return true;
        return other instanceof DriverVehicleAssignmentsV2DeleteDriverVehicleAssignmentsRequestBody
                && equalTo((DriverVehicleAssignmentsV2DeleteDriverVehicleAssignmentsRequestBody) other);
    }

    @JsonAnyGetter
    public Map<String, Object> getAdditionalProperties() {
        return this.additionalProperties;
    }

    private boolean equalTo(DriverVehicleAssignmentsV2DeleteDriverVehicleAssignmentsRequestBody other) {
        return assignedAtTime.equals(other.assignedAtTime)
                && endTime.equals(other.endTime)
                && isPassenger.equals(other.isPassenger)
                && startTime.equals(other.startTime)
                && vehicleId.equals(other.vehicleId);
    }

    @java.lang.Override
    public int hashCode() {
        return Objects.hash(this.assignedAtTime, this.endTime, this.isPassenger, this.startTime, this.vehicleId);
    }

    @java.lang.Override
    public String toString() {
        return ObjectMappers.stringify(this);
    }

    public static VehicleIdStage builder() {
        return new Builder();
    }

    public interface VehicleIdStage {
        /**
         * <p>ID of the vehicle. This can be either a unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the vehicle.</p>
         */
        _FinalStage vehicleId(@NotNull String vehicleId);

        Builder from(DriverVehicleAssignmentsV2DeleteDriverVehicleAssignmentsRequestBody other);
    }

    public interface _FinalStage {
        DriverVehicleAssignmentsV2DeleteDriverVehicleAssignmentsRequestBody build();

        /**
         * <p>Assigned at time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).</p>
         */
        _FinalStage assignedAtTime(Optional<String> assignedAtTime);

        _FinalStage assignedAtTime(String assignedAtTime);

        /**
         * <p>An end time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).</p>
         */
        _FinalStage endTime(Optional<String> endTime);

        _FinalStage endTime(String endTime);

        /**
         * <p>Indicates if assigned driver is passenger</p>
         */
        _FinalStage isPassenger(Optional<Boolean> isPassenger);

        _FinalStage isPassenger(Boolean isPassenger);

        /**
         * <p>A start time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).</p>
         */
        _FinalStage startTime(Optional<String> startTime);

        _FinalStage startTime(String startTime);
    }

    @JsonIgnoreProperties(ignoreUnknown = true)
    public static final class Builder implements VehicleIdStage, _FinalStage {
        private String vehicleId;

        private Optional<String> startTime = Optional.empty();

        private Optional<Boolean> isPassenger = Optional.empty();

        private Optional<String> endTime = Optional.empty();

        private Optional<String> assignedAtTime = Optional.empty();

        @JsonAnySetter
        private Map<String, Object> additionalProperties = new HashMap<>();

        private Builder() {}

        @java.lang.Override
        public Builder from(DriverVehicleAssignmentsV2DeleteDriverVehicleAssignmentsRequestBody other) {
            assignedAtTime(other.getAssignedAtTime());
            endTime(other.getEndTime());
            isPassenger(other.getIsPassenger());
            startTime(other.getStartTime());
            vehicleId(other.getVehicleId());
            return this;
        }

        /**
         * <p>ID of the vehicle. This can be either a unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the vehicle.</p>
         * <p>ID of the vehicle. This can be either a unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the vehicle.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        @JsonSetter("vehicleId")
        public _FinalStage vehicleId(@NotNull String vehicleId) {
            this.vehicleId = Objects.requireNonNull(vehicleId, "vehicleId must not be null");
            return this;
        }

        /**
         * <p>A start time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage startTime(String startTime) {
            this.startTime = Optional.ofNullable(startTime);
            return this;
        }

        /**
         * <p>A start time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).</p>
         */
        @java.lang.Override
        @JsonSetter(value = "startTime", nulls = Nulls.SKIP)
        public _FinalStage startTime(Optional<String> startTime) {
            this.startTime = startTime;
            return this;
        }

        /**
         * <p>Indicates if assigned driver is passenger</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage isPassenger(Boolean isPassenger) {
            this.isPassenger = Optional.ofNullable(isPassenger);
            return this;
        }

        /**
         * <p>Indicates if assigned driver is passenger</p>
         */
        @java.lang.Override
        @JsonSetter(value = "isPassenger", nulls = Nulls.SKIP)
        public _FinalStage isPassenger(Optional<Boolean> isPassenger) {
            this.isPassenger = isPassenger;
            return this;
        }

        /**
         * <p>An end time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage endTime(String endTime) {
            this.endTime = Optional.ofNullable(endTime);
            return this;
        }

        /**
         * <p>An end time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).</p>
         */
        @java.lang.Override
        @JsonSetter(value = "endTime", nulls = Nulls.SKIP)
        public _FinalStage endTime(Optional<String> endTime) {
            this.endTime = endTime;
            return this;
        }

        /**
         * <p>Assigned at time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage assignedAtTime(String assignedAtTime) {
            this.assignedAtTime = Optional.ofNullable(assignedAtTime);
            return this;
        }

        /**
         * <p>Assigned at time in RFC 3339 format. Defaults to now if not provided. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).</p>
         */
        @java.lang.Override
        @JsonSetter(value = "assignedAtTime", nulls = Nulls.SKIP)
        public _FinalStage assignedAtTime(Optional<String> assignedAtTime) {
            this.assignedAtTime = assignedAtTime;
            return this;
        }

        @java.lang.Override
        public DriverVehicleAssignmentsV2DeleteDriverVehicleAssignmentsRequestBody build() {
            return new DriverVehicleAssignmentsV2DeleteDriverVehicleAssignmentsRequestBody(
                    assignedAtTime, endTime, isPassenger, startTime, vehicleId, additionalProperties);
        }
    }
}
