/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.samsara.api.resources.drivervehicleassignments.requests;

import com.fasterxml.jackson.annotation.JsonAnyGetter;
import com.fasterxml.jackson.annotation.JsonAnySetter;
import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonSetter;
import com.fasterxml.jackson.annotation.Nulls;
import com.fasterxml.jackson.databind.annotation.JsonDeserialize;
import com.samsara.api.core.ObjectMappers;
import com.samsara.api.types.PatchDriverVehicleAssignmentsV2RequestBodyMetadataRequestBody;
import java.util.HashMap;
import java.util.Map;
import java.util.Objects;
import java.util.Optional;
import org.jetbrains.annotations.NotNull;

@JsonInclude(JsonInclude.Include.NON_ABSENT)
@JsonDeserialize(builder = DriverVehicleAssignmentsV2UpdateDriverVehicleAssignmentRequestBody.Builder.class)
public final class DriverVehicleAssignmentsV2UpdateDriverVehicleAssignmentRequestBody {
    private final Optional<String> assignedAtTime;

    private final String driverId;

    private final Optional<String> endTime;

    private final Optional<Boolean> isPassenger;

    private final Optional<PatchDriverVehicleAssignmentsV2RequestBodyMetadataRequestBody> metadata;

    private final String startTime;

    private final String vehicleId;

    private final Map<String, Object> additionalProperties;

    private DriverVehicleAssignmentsV2UpdateDriverVehicleAssignmentRequestBody(
            Optional<String> assignedAtTime,
            String driverId,
            Optional<String> endTime,
            Optional<Boolean> isPassenger,
            Optional<PatchDriverVehicleAssignmentsV2RequestBodyMetadataRequestBody> metadata,
            String startTime,
            String vehicleId,
            Map<String, Object> additionalProperties) {
        this.assignedAtTime = assignedAtTime;
        this.driverId = driverId;
        this.endTime = endTime;
        this.isPassenger = isPassenger;
        this.metadata = metadata;
        this.startTime = startTime;
        this.vehicleId = vehicleId;
        this.additionalProperties = additionalProperties;
    }

    /**
     * @return The time at which the assignment was made in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).
     */
    @JsonProperty("assignedAtTime")
    public Optional<String> getAssignedAtTime() {
        return assignedAtTime;
    }

    /**
     * @return ID of the driver. This can be either a unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the driver.
     */
    @JsonProperty("driverId")
    public String getDriverId() {
        return driverId;
    }

    /**
     * @return The end time in RFC 3339 format. To make this an ongoing assignment (ie. an assignment with no end time), provide an endTime value of 'null'. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).
     */
    @JsonProperty("endTime")
    public Optional<String> getEndTime() {
        return endTime;
    }

    /**
     * @return Is this driver a passenger?
     */
    @JsonProperty("isPassenger")
    public Optional<Boolean> getIsPassenger() {
        return isPassenger;
    }

    @JsonProperty("metadata")
    public Optional<PatchDriverVehicleAssignmentsV2RequestBodyMetadataRequestBody> getMetadata() {
        return metadata;
    }

    /**
     * @return The start time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).
     */
    @JsonProperty("startTime")
    public String getStartTime() {
        return startTime;
    }

    /**
     * @return ID of the vehicle. This can be either a unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the vehicle.
     */
    @JsonProperty("vehicleId")
    public String getVehicleId() {
        return vehicleId;
    }

    @java.lang.Override
    public boolean equals(Object other) {
        if (this == other) return true;
        return other instanceof DriverVehicleAssignmentsV2UpdateDriverVehicleAssignmentRequestBody
                && equalTo((DriverVehicleAssignmentsV2UpdateDriverVehicleAssignmentRequestBody) other);
    }

    @JsonAnyGetter
    public Map<String, Object> getAdditionalProperties() {
        return this.additionalProperties;
    }

    private boolean equalTo(DriverVehicleAssignmentsV2UpdateDriverVehicleAssignmentRequestBody other) {
        return assignedAtTime.equals(other.assignedAtTime)
                && driverId.equals(other.driverId)
                && endTime.equals(other.endTime)
                && isPassenger.equals(other.isPassenger)
                && metadata.equals(other.metadata)
                && startTime.equals(other.startTime)
                && vehicleId.equals(other.vehicleId);
    }

    @java.lang.Override
    public int hashCode() {
        return Objects.hash(
                this.assignedAtTime,
                this.driverId,
                this.endTime,
                this.isPassenger,
                this.metadata,
                this.startTime,
                this.vehicleId);
    }

    @java.lang.Override
    public String toString() {
        return ObjectMappers.stringify(this);
    }

    public static DriverIdStage builder() {
        return new Builder();
    }

    public interface DriverIdStage {
        /**
         * <p>ID of the driver. This can be either a unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the driver.</p>
         */
        StartTimeStage driverId(@NotNull String driverId);

        Builder from(DriverVehicleAssignmentsV2UpdateDriverVehicleAssignmentRequestBody other);
    }

    public interface StartTimeStage {
        /**
         * <p>The start time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).</p>
         */
        VehicleIdStage startTime(@NotNull String startTime);
    }

    public interface VehicleIdStage {
        /**
         * <p>ID of the vehicle. This can be either a unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the vehicle.</p>
         */
        _FinalStage vehicleId(@NotNull String vehicleId);
    }

    public interface _FinalStage {
        DriverVehicleAssignmentsV2UpdateDriverVehicleAssignmentRequestBody build();

        /**
         * <p>The time at which the assignment was made in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).</p>
         */
        _FinalStage assignedAtTime(Optional<String> assignedAtTime);

        _FinalStage assignedAtTime(String assignedAtTime);

        /**
         * <p>The end time in RFC 3339 format. To make this an ongoing assignment (ie. an assignment with no end time), provide an endTime value of 'null'. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).</p>
         */
        _FinalStage endTime(Optional<String> endTime);

        _FinalStage endTime(String endTime);

        /**
         * <p>Is this driver a passenger?</p>
         */
        _FinalStage isPassenger(Optional<Boolean> isPassenger);

        _FinalStage isPassenger(Boolean isPassenger);

        _FinalStage metadata(Optional<PatchDriverVehicleAssignmentsV2RequestBodyMetadataRequestBody> metadata);

        _FinalStage metadata(PatchDriverVehicleAssignmentsV2RequestBodyMetadataRequestBody metadata);
    }

    @JsonIgnoreProperties(ignoreUnknown = true)
    public static final class Builder implements DriverIdStage, StartTimeStage, VehicleIdStage, _FinalStage {
        private String driverId;

        private String startTime;

        private String vehicleId;

        private Optional<PatchDriverVehicleAssignmentsV2RequestBodyMetadataRequestBody> metadata = Optional.empty();

        private Optional<Boolean> isPassenger = Optional.empty();

        private Optional<String> endTime = Optional.empty();

        private Optional<String> assignedAtTime = Optional.empty();

        @JsonAnySetter
        private Map<String, Object> additionalProperties = new HashMap<>();

        private Builder() {}

        @java.lang.Override
        public Builder from(DriverVehicleAssignmentsV2UpdateDriverVehicleAssignmentRequestBody other) {
            assignedAtTime(other.getAssignedAtTime());
            driverId(other.getDriverId());
            endTime(other.getEndTime());
            isPassenger(other.getIsPassenger());
            metadata(other.getMetadata());
            startTime(other.getStartTime());
            vehicleId(other.getVehicleId());
            return this;
        }

        /**
         * <p>ID of the driver. This can be either a unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the driver.</p>
         * <p>ID of the driver. This can be either a unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the driver.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        @JsonSetter("driverId")
        public StartTimeStage driverId(@NotNull String driverId) {
            this.driverId = Objects.requireNonNull(driverId, "driverId must not be null");
            return this;
        }

        /**
         * <p>The start time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).</p>
         * <p>The start time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        @JsonSetter("startTime")
        public VehicleIdStage startTime(@NotNull String startTime) {
            this.startTime = Objects.requireNonNull(startTime, "startTime must not be null");
            return this;
        }

        /**
         * <p>ID of the vehicle. This can be either a unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the vehicle.</p>
         * <p>ID of the vehicle. This can be either a unique Samsara ID or an <a href="/docs/external-ids">external ID</a> for the vehicle.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        @JsonSetter("vehicleId")
        public _FinalStage vehicleId(@NotNull String vehicleId) {
            this.vehicleId = Objects.requireNonNull(vehicleId, "vehicleId must not be null");
            return this;
        }

        @java.lang.Override
        public _FinalStage metadata(PatchDriverVehicleAssignmentsV2RequestBodyMetadataRequestBody metadata) {
            this.metadata = Optional.ofNullable(metadata);
            return this;
        }

        @java.lang.Override
        @JsonSetter(value = "metadata", nulls = Nulls.SKIP)
        public _FinalStage metadata(Optional<PatchDriverVehicleAssignmentsV2RequestBodyMetadataRequestBody> metadata) {
            this.metadata = metadata;
            return this;
        }

        /**
         * <p>Is this driver a passenger?</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage isPassenger(Boolean isPassenger) {
            this.isPassenger = Optional.ofNullable(isPassenger);
            return this;
        }

        /**
         * <p>Is this driver a passenger?</p>
         */
        @java.lang.Override
        @JsonSetter(value = "isPassenger", nulls = Nulls.SKIP)
        public _FinalStage isPassenger(Optional<Boolean> isPassenger) {
            this.isPassenger = isPassenger;
            return this;
        }

        /**
         * <p>The end time in RFC 3339 format. To make this an ongoing assignment (ie. an assignment with no end time), provide an endTime value of 'null'. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage endTime(String endTime) {
            this.endTime = Optional.ofNullable(endTime);
            return this;
        }

        /**
         * <p>The end time in RFC 3339 format. To make this an ongoing assignment (ie. an assignment with no end time), provide an endTime value of 'null'. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).</p>
         */
        @java.lang.Override
        @JsonSetter(value = "endTime", nulls = Nulls.SKIP)
        public _FinalStage endTime(Optional<String> endTime) {
            this.endTime = endTime;
            return this;
        }

        /**
         * <p>The time at which the assignment was made in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage assignedAtTime(String assignedAtTime) {
            this.assignedAtTime = Optional.ofNullable(assignedAtTime);
            return this;
        }

        /**
         * <p>The time at which the assignment was made in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).</p>
         */
        @java.lang.Override
        @JsonSetter(value = "assignedAtTime", nulls = Nulls.SKIP)
        public _FinalStage assignedAtTime(Optional<String> assignedAtTime) {
            this.assignedAtTime = assignedAtTime;
            return this;
        }

        @java.lang.Override
        public DriverVehicleAssignmentsV2UpdateDriverVehicleAssignmentRequestBody build() {
            return new DriverVehicleAssignmentsV2UpdateDriverVehicleAssignmentRequestBody(
                    assignedAtTime,
                    driverId,
                    endTime,
                    isPassenger,
                    metadata,
                    startTime,
                    vehicleId,
                    additionalProperties);
        }
    }
}
