/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.samsara.api.resources.tachographeuonly;

import com.samsara.api.core.ClientOptions;
import com.samsara.api.core.RequestOptions;
import com.samsara.api.resources.tachographeuonly.requests.GetDriverTachographActivityRequest;
import com.samsara.api.resources.tachographeuonly.requests.GetDriverTachographFilesRequest;
import com.samsara.api.resources.tachographeuonly.requests.GetVehicleTachographFilesRequest;
import com.samsara.api.types.DriverTachographActivityResponse;
import com.samsara.api.types.TachographDriverFilesResponse;
import com.samsara.api.types.TachographVehicleFilesResponse;

public class TachographEuOnlyClient {
    protected final ClientOptions clientOptions;

    private final RawTachographEuOnlyClient rawClient;

    public TachographEuOnlyClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.rawClient = new RawTachographEuOnlyClient(clientOptions);
    }

    /**
     * Get responses with HTTP metadata like headers
     */
    public RawTachographEuOnlyClient withRawResponse() {
        return this.rawClient;
    }

    /**
     * Returns all known tachograph activity for all specified drivers in the time range.
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Tachograph (EU)</strong> under the Compliance category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public DriverTachographActivityResponse getDriverTachographActivity(GetDriverTachographActivityRequest request) {
        return this.rawClient.getDriverTachographActivity(request).body();
    }

    /**
     * Returns all known tachograph activity for all specified drivers in the time range.
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Tachograph (EU)</strong> under the Compliance category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public DriverTachographActivityResponse getDriverTachographActivity(
            GetDriverTachographActivityRequest request, RequestOptions requestOptions) {
        return this.rawClient
                .getDriverTachographActivity(request, requestOptions)
                .body();
    }

    /**
     * Returns all known tachograph files for all specified drivers in the time range.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 50 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Tachograph (EU)</strong> under the Compliance category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public TachographDriverFilesResponse getDriverTachographFiles(GetDriverTachographFilesRequest request) {
        return this.rawClient.getDriverTachographFiles(request).body();
    }

    /**
     * Returns all known tachograph files for all specified drivers in the time range.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 50 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Tachograph (EU)</strong> under the Compliance category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public TachographDriverFilesResponse getDriverTachographFiles(
            GetDriverTachographFilesRequest request, RequestOptions requestOptions) {
        return this.rawClient.getDriverTachographFiles(request, requestOptions).body();
    }

    /**
     * Returns all known tachograph files for all specified vehicles in the time range.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 150 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Tachograph (EU)</strong> under the Compliance category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public TachographVehicleFilesResponse getVehicleTachographFiles(GetVehicleTachographFilesRequest request) {
        return this.rawClient.getVehicleTachographFiles(request).body();
    }

    /**
     * Returns all known tachograph files for all specified vehicles in the time range.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 150 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Tachograph (EU)</strong> under the Compliance category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public TachographVehicleFilesResponse getVehicleTachographFiles(
            GetVehicleTachographFilesRequest request, RequestOptions requestOptions) {
        return this.rawClient.getVehicleTachographFiles(request, requestOptions).body();
    }
}
