/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.samsara.api.resources.coaching;

import com.fasterxml.jackson.core.JsonProcessingException;
import com.samsara.api.core.ClientOptions;
import com.samsara.api.core.ObjectMappers;
import com.samsara.api.core.QueryStringMapper;
import com.samsara.api.core.RequestOptions;
import com.samsara.api.core.SamsaraApiApiException;
import com.samsara.api.core.SamsaraApiException;
import com.samsara.api.core.SamsaraApiHttpResponse;
import com.samsara.api.errors.BadGatewayError;
import com.samsara.api.errors.GatewayTimeoutError;
import com.samsara.api.errors.InternalServerError;
import com.samsara.api.errors.MethodNotAllowedError;
import com.samsara.api.errors.NotFoundError;
import com.samsara.api.errors.NotImplementedError;
import com.samsara.api.errors.ServiceUnavailableError;
import com.samsara.api.errors.TooManyRequestsError;
import com.samsara.api.errors.UnauthorizedError;
import com.samsara.api.resources.coaching.requests.GetCoachingSessionsRequest;
import com.samsara.api.resources.coaching.requests.GetDriverCoachAssignmentRequest;
import com.samsara.api.resources.coaching.requests.PutDriverCoachAssignmentRequest;
import com.samsara.api.types.CoachingSessionsGetCoachingSessionsResponseBody;
import com.samsara.api.types.DriverCoachAssignmentsGetDriverCoachAssignmentResponseBody;
import com.samsara.api.types.DriverCoachAssignmentsPutDriverCoachAssignmentResponseBody;
import java.io.IOException;
import okhttp3.Headers;
import okhttp3.HttpUrl;
import okhttp3.OkHttpClient;
import okhttp3.Request;
import okhttp3.RequestBody;
import okhttp3.Response;
import okhttp3.ResponseBody;

public class RawCoachingClient {
    protected final ClientOptions clientOptions;

    public RawCoachingClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
    }

    /**
     * This endpoint will return coach assignments for your organization based on the parameters passed in. Results are paginated.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 10 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Coaching</strong> under the Coaching category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public SamsaraApiHttpResponse<DriverCoachAssignmentsGetDriverCoachAssignmentResponseBody>
            getDriverCoachAssignment() {
        return getDriverCoachAssignment(
                GetDriverCoachAssignmentRequest.builder().build());
    }

    /**
     * This endpoint will return coach assignments for your organization based on the parameters passed in. Results are paginated.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 10 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Coaching</strong> under the Coaching category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public SamsaraApiHttpResponse<DriverCoachAssignmentsGetDriverCoachAssignmentResponseBody> getDriverCoachAssignment(
            RequestOptions requestOptions) {
        return getDriverCoachAssignment(
                GetDriverCoachAssignmentRequest.builder().build(), requestOptions);
    }

    /**
     * This endpoint will return coach assignments for your organization based on the parameters passed in. Results are paginated.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 10 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Coaching</strong> under the Coaching category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public SamsaraApiHttpResponse<DriverCoachAssignmentsGetDriverCoachAssignmentResponseBody> getDriverCoachAssignment(
            GetDriverCoachAssignmentRequest request) {
        return getDriverCoachAssignment(request, null);
    }

    /**
     * This endpoint will return coach assignments for your organization based on the parameters passed in. Results are paginated.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 10 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Coaching</strong> under the Coaching category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public SamsaraApiHttpResponse<DriverCoachAssignmentsGetDriverCoachAssignmentResponseBody> getDriverCoachAssignment(
            GetDriverCoachAssignmentRequest request, RequestOptions requestOptions) {
        HttpUrl.Builder httpUrl = HttpUrl.parse(this.clientOptions.environment().getUrl())
                .newBuilder()
                .addPathSegments("coaching/driver-coach-assignments");
        if (request.getIncludeExternalIds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl,
                    "includeExternalIds",
                    request.getIncludeExternalIds().get(),
                    false);
        }
        if (request.getAfter().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "after", request.getAfter().get(), false);
        }
        if (request.getDriverIds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "driverIds", request.getDriverIds().get(), true);
        }
        if (request.getCoachIds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "coachIds", request.getCoachIds().get(), true);
        }
        if (requestOptions != null) {
            requestOptions.getQueryParameters().forEach((_key, _value) -> {
                httpUrl.addQueryParameter(_key, _value);
            });
        }
        Request.Builder _requestBuilder = new Request.Builder()
                .url(httpUrl.build())
                .method("GET", null)
                .headers(Headers.of(clientOptions.headers(requestOptions)))
                .addHeader("Accept", "application/json");
        Request okhttpRequest = _requestBuilder.build();
        OkHttpClient client = clientOptions.httpClient();
        if (requestOptions != null && requestOptions.getTimeout().isPresent()) {
            client = clientOptions.httpClientWithTimeout(requestOptions);
        }
        try (Response response = client.newCall(okhttpRequest).execute()) {
            ResponseBody responseBody = response.body();
            String responseBodyString = responseBody != null ? responseBody.string() : "{}";
            if (response.isSuccessful()) {
                return new SamsaraApiHttpResponse<>(
                        ObjectMappers.JSON_MAPPER.readValue(
                                responseBodyString, DriverCoachAssignmentsGetDriverCoachAssignmentResponseBody.class),
                        response);
            }
            try {
                switch (response.code()) {
                    case 401:
                        throw new UnauthorizedError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 404:
                        throw new NotFoundError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 405:
                        throw new MethodNotAllowedError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 429:
                        throw new TooManyRequestsError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 500:
                        throw new InternalServerError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 501:
                        throw new NotImplementedError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 502:
                        throw new BadGatewayError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 503:
                        throw new ServiceUnavailableError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 504:
                        throw new GatewayTimeoutError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                }
            } catch (JsonProcessingException ignored) {
                // unable to map error response, throwing generic error
            }
            Object errorBody = ObjectMappers.parseErrorBody(responseBodyString);
            throw new SamsaraApiApiException(
                    "Error with status code " + response.code(), response.code(), errorBody, response);
        } catch (IOException e) {
            throw new SamsaraApiException("Network error executing HTTP request", e);
        }
    }

    /**
     * This endpoint will update an existing or create a new coach-to-driver assignment for your organization based on the parameters passed in. This endpoint should only be used for existing Coach to Driver assignments. In order to remove a driver-coach-assignment for a given driver, set coachId to null
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 10 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Coaching</strong> under the Coaching category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public SamsaraApiHttpResponse<DriverCoachAssignmentsPutDriverCoachAssignmentResponseBody> putDriverCoachAssignment(
            PutDriverCoachAssignmentRequest request) {
        return putDriverCoachAssignment(request, null);
    }

    /**
     * This endpoint will update an existing or create a new coach-to-driver assignment for your organization based on the parameters passed in. This endpoint should only be used for existing Coach to Driver assignments. In order to remove a driver-coach-assignment for a given driver, set coachId to null
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 10 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Coaching</strong> under the Coaching category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public SamsaraApiHttpResponse<DriverCoachAssignmentsPutDriverCoachAssignmentResponseBody> putDriverCoachAssignment(
            PutDriverCoachAssignmentRequest request, RequestOptions requestOptions) {
        HttpUrl.Builder httpUrl = HttpUrl.parse(this.clientOptions.environment().getUrl())
                .newBuilder()
                .addPathSegments("coaching/driver-coach-assignments");
        QueryStringMapper.addQueryParameter(httpUrl, "driverId", request.getDriverId(), false);
        if (request.getCoachId().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "coachId", request.getCoachId().get(), false);
        }
        if (requestOptions != null) {
            requestOptions.getQueryParameters().forEach((_key, _value) -> {
                httpUrl.addQueryParameter(_key, _value);
            });
        }
        Request.Builder _requestBuilder = new Request.Builder()
                .url(httpUrl.build())
                .method("PUT", RequestBody.create("", null))
                .headers(Headers.of(clientOptions.headers(requestOptions)))
                .addHeader("Accept", "application/json");
        Request okhttpRequest = _requestBuilder.build();
        OkHttpClient client = clientOptions.httpClient();
        if (requestOptions != null && requestOptions.getTimeout().isPresent()) {
            client = clientOptions.httpClientWithTimeout(requestOptions);
        }
        try (Response response = client.newCall(okhttpRequest).execute()) {
            ResponseBody responseBody = response.body();
            String responseBodyString = responseBody != null ? responseBody.string() : "{}";
            if (response.isSuccessful()) {
                return new SamsaraApiHttpResponse<>(
                        ObjectMappers.JSON_MAPPER.readValue(
                                responseBodyString, DriverCoachAssignmentsPutDriverCoachAssignmentResponseBody.class),
                        response);
            }
            try {
                switch (response.code()) {
                    case 401:
                        throw new UnauthorizedError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 404:
                        throw new NotFoundError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 405:
                        throw new MethodNotAllowedError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 429:
                        throw new TooManyRequestsError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 500:
                        throw new InternalServerError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 501:
                        throw new NotImplementedError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 502:
                        throw new BadGatewayError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 503:
                        throw new ServiceUnavailableError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 504:
                        throw new GatewayTimeoutError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                }
            } catch (JsonProcessingException ignored) {
                // unable to map error response, throwing generic error
            }
            Object errorBody = ObjectMappers.parseErrorBody(responseBodyString);
            throw new SamsaraApiApiException(
                    "Error with status code " + response.code(), response.code(), errorBody, response);
        } catch (IOException e) {
            throw new SamsaraApiException("Network error executing HTTP request", e);
        }
    }

    /**
     * This endpoint will return coaching sessions for your organization based on the time parameters passed in. Results are paginated by sessions. If you include an endTime, the endpoint will return data up until that point. If you don’t include an endTime, you can continue to poll the API real-time with the pagination cursor that gets returned on every call.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Coaching</strong> under the Coaching category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public SamsaraApiHttpResponse<CoachingSessionsGetCoachingSessionsResponseBody> getCoachingSessions(
            GetCoachingSessionsRequest request) {
        return getCoachingSessions(request, null);
    }

    /**
     * This endpoint will return coaching sessions for your organization based on the time parameters passed in. Results are paginated by sessions. If you include an endTime, the endpoint will return data up until that point. If you don’t include an endTime, you can continue to poll the API real-time with the pagination cursor that gets returned on every call.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Coaching</strong> under the Coaching category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public SamsaraApiHttpResponse<CoachingSessionsGetCoachingSessionsResponseBody> getCoachingSessions(
            GetCoachingSessionsRequest request, RequestOptions requestOptions) {
        HttpUrl.Builder httpUrl = HttpUrl.parse(this.clientOptions.environment().getUrl())
                .newBuilder()
                .addPathSegments("coaching/sessions/stream");
        if (request.getIncludeCoachableEvents().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl,
                    "includeCoachableEvents",
                    request.getIncludeCoachableEvents().get(),
                    false);
        }
        QueryStringMapper.addQueryParameter(httpUrl, "startTime", request.getStartTime(), false);
        if (request.getEndTime().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "endTime", request.getEndTime().get(), false);
        }
        if (request.getAfter().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "after", request.getAfter().get(), false);
        }
        if (request.getIncludeExternalIds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl,
                    "includeExternalIds",
                    request.getIncludeExternalIds().get(),
                    false);
        }
        if (request.getDriverIds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "driverIds", request.getDriverIds().get(), true);
        }
        if (request.getCoachIds().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "coachIds", request.getCoachIds().get(), true);
        }
        if (request.getSessionStatuses().isPresent()) {
            QueryStringMapper.addQueryParameter(
                    httpUrl, "sessionStatuses", request.getSessionStatuses().get(), true);
        }
        if (requestOptions != null) {
            requestOptions.getQueryParameters().forEach((_key, _value) -> {
                httpUrl.addQueryParameter(_key, _value);
            });
        }
        Request.Builder _requestBuilder = new Request.Builder()
                .url(httpUrl.build())
                .method("GET", null)
                .headers(Headers.of(clientOptions.headers(requestOptions)))
                .addHeader("Accept", "application/json");
        Request okhttpRequest = _requestBuilder.build();
        OkHttpClient client = clientOptions.httpClient();
        if (requestOptions != null && requestOptions.getTimeout().isPresent()) {
            client = clientOptions.httpClientWithTimeout(requestOptions);
        }
        try (Response response = client.newCall(okhttpRequest).execute()) {
            ResponseBody responseBody = response.body();
            String responseBodyString = responseBody != null ? responseBody.string() : "{}";
            if (response.isSuccessful()) {
                return new SamsaraApiHttpResponse<>(
                        ObjectMappers.JSON_MAPPER.readValue(
                                responseBodyString, CoachingSessionsGetCoachingSessionsResponseBody.class),
                        response);
            }
            try {
                switch (response.code()) {
                    case 401:
                        throw new UnauthorizedError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 404:
                        throw new NotFoundError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 405:
                        throw new MethodNotAllowedError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 429:
                        throw new TooManyRequestsError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 500:
                        throw new InternalServerError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 501:
                        throw new NotImplementedError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 502:
                        throw new BadGatewayError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 503:
                        throw new ServiceUnavailableError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                    case 504:
                        throw new GatewayTimeoutError(
                                ObjectMappers.JSON_MAPPER.readValue(responseBodyString, Object.class), response);
                }
            } catch (JsonProcessingException ignored) {
                // unable to map error response, throwing generic error
            }
            Object errorBody = ObjectMappers.parseErrorBody(responseBodyString);
            throw new SamsaraApiApiException(
                    "Error with status code " + response.code(), response.code(), errorBody, response);
        } catch (IOException e) {
            throw new SamsaraApiException("Network error executing HTTP request", e);
        }
    }
}
