/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.samsara.api.resources.messages;

import com.samsara.api.core.ClientOptions;
import com.samsara.api.core.RequestOptions;
import com.samsara.api.resources.messages.requests.InlineObject2;
import com.samsara.api.resources.messages.requests.V1GetMessagesRequest;
import com.samsara.api.types.InlineResponse2005;
import com.samsara.api.types.InlineResponse2006;

public class MessagesClient {
    protected final ClientOptions clientOptions;

    private final RawMessagesClient rawClient;

    public MessagesClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.rawClient = new RawMessagesClient(clientOptions);
    }

    /**
     * Get responses with HTTP metadata like headers
     */
    public RawMessagesClient withRawResponse() {
        return this.rawClient;
    }

    /**
     * <p>&lt;n class=&quot;warning&quot;&gt;
     * &lt;nh&gt;
     * &lt;i class=&quot;fa fa-exclamation-circle&quot;&gt;&lt;/i&gt;
     * This endpoint is still on our legacy API.
     * &lt;/nh&gt;
     * &lt;/n&gt;</p>
     * Get all messages.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Messages</strong> under the Driver Workflow category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public InlineResponse2005 v1GetMessages() {
        return this.rawClient.v1GetMessages().body();
    }

    /**
     * <p>&lt;n class=&quot;warning&quot;&gt;
     * &lt;nh&gt;
     * &lt;i class=&quot;fa fa-exclamation-circle&quot;&gt;&lt;/i&gt;
     * This endpoint is still on our legacy API.
     * &lt;/nh&gt;
     * &lt;/n&gt;</p>
     * Get all messages.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Messages</strong> under the Driver Workflow category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public InlineResponse2005 v1GetMessages(RequestOptions requestOptions) {
        return this.rawClient.v1GetMessages(requestOptions).body();
    }

    /**
     * <p>&lt;n class=&quot;warning&quot;&gt;
     * &lt;nh&gt;
     * &lt;i class=&quot;fa fa-exclamation-circle&quot;&gt;&lt;/i&gt;
     * This endpoint is still on our legacy API.
     * &lt;/nh&gt;
     * &lt;/n&gt;</p>
     * Get all messages.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Messages</strong> under the Driver Workflow category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public InlineResponse2005 v1GetMessages(V1GetMessagesRequest request) {
        return this.rawClient.v1GetMessages(request).body();
    }

    /**
     * <p>&lt;n class=&quot;warning&quot;&gt;
     * &lt;nh&gt;
     * &lt;i class=&quot;fa fa-exclamation-circle&quot;&gt;&lt;/i&gt;
     * This endpoint is still on our legacy API.
     * &lt;/nh&gt;
     * &lt;/n&gt;</p>
     * Get all messages.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Messages</strong> under the Driver Workflow category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public InlineResponse2005 v1GetMessages(V1GetMessagesRequest request, RequestOptions requestOptions) {
        return this.rawClient.v1GetMessages(request, requestOptions).body();
    }

    /**
     * <p>&lt;n class=&quot;warning&quot;&gt;
     * &lt;nh&gt;
     * &lt;i class=&quot;fa fa-exclamation-circle&quot;&gt;&lt;/i&gt;
     * This endpoint is still on our legacy API.
     * &lt;/nh&gt;
     * &lt;/n&gt;</p>
     * Send a message to a list of driver ids.
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Write Messages</strong> under the Driver Workflow category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public InlineResponse2006 v1CreateMessages(InlineObject2 request) {
        return this.rawClient.v1CreateMessages(request).body();
    }

    /**
     * <p>&lt;n class=&quot;warning&quot;&gt;
     * &lt;nh&gt;
     * &lt;i class=&quot;fa fa-exclamation-circle&quot;&gt;&lt;/i&gt;
     * This endpoint is still on our legacy API.
     * &lt;/nh&gt;
     * &lt;/n&gt;</p>
     * Send a message to a list of driver ids.
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Write Messages</strong> under the Driver Workflow category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public InlineResponse2006 v1CreateMessages(InlineObject2 request, RequestOptions requestOptions) {
        return this.rawClient.v1CreateMessages(request, requestOptions).body();
    }
}
