/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.samsara.api.resources.betaapis;

import com.samsara.api.core.ClientOptions;
import com.samsara.api.core.RequestOptions;
import com.samsara.api.resources.betaapis.requests.DeleteJobRequest;
import com.samsara.api.resources.betaapis.requests.EngineImmobilizerUpdateEngineImmobilizerStateRequestBody;
import com.samsara.api.resources.betaapis.requests.EquipmentPatchEquipmentRequestBody;
import com.samsara.api.resources.betaapis.requests.FunctionsStartFunctionRunRequestBody;
import com.samsara.api.resources.betaapis.requests.GetAssetsInputsRequest;
import com.samsara.api.resources.betaapis.requests.GetDatasetsRequest;
import com.samsara.api.resources.betaapis.requests.GetDepreciationTransactionsRequest;
import com.samsara.api.resources.betaapis.requests.GetDetectionsRequest;
import com.samsara.api.resources.betaapis.requests.GetDevicesRequest;
import com.samsara.api.resources.betaapis.requests.GetDriverEfficiencyRequest;
import com.samsara.api.resources.betaapis.requests.GetDriverSafetyScoreTripsRequest;
import com.samsara.api.resources.betaapis.requests.GetDriverSafetyScoresRequest;
import com.samsara.api.resources.betaapis.requests.GetEngineImmobilizerStatesRequest;
import com.samsara.api.resources.betaapis.requests.GetHosEldEventsRequest;
import com.samsara.api.resources.betaapis.requests.GetJobsRequest;
import com.samsara.api.resources.betaapis.requests.GetQualificationRecordsRequest;
import com.samsara.api.resources.betaapis.requests.GetQualificationRecordsStreamRequest;
import com.samsara.api.resources.betaapis.requests.GetQualificationTypesRequest;
import com.samsara.api.resources.betaapis.requests.GetReadingsHistoryRequest;
import com.samsara.api.resources.betaapis.requests.GetReadingsSnapshotRequest;
import com.samsara.api.resources.betaapis.requests.GetReportConfigsRequest;
import com.samsara.api.resources.betaapis.requests.GetReportRunDataRequest;
import com.samsara.api.resources.betaapis.requests.GetReportRunsRequest;
import com.samsara.api.resources.betaapis.requests.GetTagGroupSafetyScoresRequest;
import com.samsara.api.resources.betaapis.requests.GetTagSafetyScoresRequest;
import com.samsara.api.resources.betaapis.requests.GetTrailerStatsFeedRequest;
import com.samsara.api.resources.betaapis.requests.GetTrailerStatsHistoryRequest;
import com.samsara.api.resources.betaapis.requests.GetTrailerStatsSnapshotRequest;
import com.samsara.api.resources.betaapis.requests.GetVehicleSafetyScoreTripsRequest;
import com.samsara.api.resources.betaapis.requests.GetVehicleSafetyScoresRequest;
import com.samsara.api.resources.betaapis.requests.HosDailyLogsUpdateShippingDocsRequestBody;
import com.samsara.api.resources.betaapis.requests.JobsCreateJobRequestBody;
import com.samsara.api.resources.betaapis.requests.JobsPatchJobRequestBody;
import com.samsara.api.resources.betaapis.requests.ListHubCustomPropertiesRequest;
import com.samsara.api.resources.betaapis.requests.ListReadingsDefinitionsRequest;
import com.samsara.api.resources.betaapis.requests.PlanOrdersCreatePlanOrdersRequestBody;
import com.samsara.api.resources.betaapis.requests.QualificationsArchiveQualificationRecordRequestBody;
import com.samsara.api.resources.betaapis.requests.QualificationsDeleteQualificationRecordRequestBody;
import com.samsara.api.resources.betaapis.requests.QualificationsPatchQualificationRecordRequestBody;
import com.samsara.api.resources.betaapis.requests.QualificationsPostQualificationRecordRequestBody;
import com.samsara.api.resources.betaapis.requests.QualificationsUnarchiveQualificationRecordRequestBody;
import com.samsara.api.resources.betaapis.requests.ReadingsPostReadingsRequestBody;
import com.samsara.api.resources.betaapis.requests.ReportsCreateReportRunRequestBody;
import com.samsara.api.types.AempEquipmentGetAempEquipmentListResponseBody;
import com.samsara.api.types.AssetsInputsGetAssetsInputsResponseBody;
import com.samsara.api.types.DepreciationGetDepreciationTransactionsResponseBody;
import com.samsara.api.types.DetectionLogGetDetectionsResponseBody;
import com.samsara.api.types.DevicesGetDevicesResponseBody;
import com.samsara.api.types.DriverEfficienciesResponse;
import com.samsara.api.types.EngineImmobilizerGetEngineImmobilizerStatesResponseBody;
import com.samsara.api.types.EquipmentPatchEquipmentResponseBody;
import com.samsara.api.types.FunctionsStartFunctionRunResponseBody;
import com.samsara.api.types.HosDailyLogsUpdateShippingDocsResponseBody;
import com.samsara.api.types.HosEldEventsGetHosEldEventsResponseBody;
import com.samsara.api.types.HubCustomPropertiesListHubCustomPropertiesResponseBody;
import com.samsara.api.types.JobsCreateJobResponseBody;
import com.samsara.api.types.JobsDeleteJobResponseBody;
import com.samsara.api.types.JobsGetJobsResponseBody;
import com.samsara.api.types.JobsPatchJobResponseBody;
import com.samsara.api.types.PlanOrdersCreatePlanOrdersResponseBody;
import com.samsara.api.types.QualificationsGetQualificationRecordsResponseBody;
import com.samsara.api.types.QualificationsGetQualificationRecordsStreamResponseBody;
import com.samsara.api.types.QualificationsGetQualificationTypesResponseBody;
import com.samsara.api.types.QualificationsPatchQualificationRecordResponseBody;
import com.samsara.api.types.QualificationsPostQualificationRecordResponseBody;
import com.samsara.api.types.ReadingsGetReadingsHistoryResponseBody;
import com.samsara.api.types.ReadingsGetReadingsSnapshotResponseBody;
import com.samsara.api.types.ReadingsListReadingsDefinitionsResponseBody;
import com.samsara.api.types.ReportsCreateReportRunResponseBody;
import com.samsara.api.types.ReportsGetDatasetsResponseBody;
import com.samsara.api.types.ReportsGetReportConfigsResponseBody;
import com.samsara.api.types.ReportsGetReportRunDataResponseBody;
import com.samsara.api.types.ReportsGetReportRunsResponseBody;
import com.samsara.api.types.SafetyScoresGetDriverSafetyScoreTripsResponseBody;
import com.samsara.api.types.SafetyScoresGetDriverSafetyScoresResponseBody;
import com.samsara.api.types.SafetyScoresGetTagGroupSafetyScoresResponseBody;
import com.samsara.api.types.SafetyScoresGetTagSafetyScoresResponseBody;
import com.samsara.api.types.SafetyScoresGetVehicleSafetyScoreTripsResponseBody;
import com.samsara.api.types.SafetyScoresGetVehicleSafetyScoresResponseBody;
import com.samsara.api.types.TrailerStatsGetTrailerStatsFeedResponseBody;
import com.samsara.api.types.TrailerStatsGetTrailerStatsHistoryResponseBody;
import com.samsara.api.types.TrailerStatsGetTrailerStatsSnapshotResponseBody;
import java.util.concurrent.CompletableFuture;

public class AsyncBetaApisClient {
    protected final ClientOptions clientOptions;

    private final AsyncRawBetaApisClient rawClient;

    public AsyncBetaApisClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.rawClient = new AsyncRawBetaApisClient(clientOptions);
    }

    /**
     * Get responses with HTTP metadata like headers
     */
    public AsyncRawBetaApisClient withRawResponse() {
        return this.rawClient;
    }

    /**
     * Returns depreciation and adjustment transactions for assets. Transactions are returned ordered by updatedAt in ascending order (oldest to newest). Use startTime parameter for incremental sync.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Assets</strong> under the Assets category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<DepreciationGetDepreciationTransactionsResponseBody> getDepreciationTransactions() {
        return this.rawClient.getDepreciationTransactions().thenApply(response -> response.body());
    }

    /**
     * Returns depreciation and adjustment transactions for assets. Transactions are returned ordered by updatedAt in ascending order (oldest to newest). Use startTime parameter for incremental sync.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Assets</strong> under the Assets category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<DepreciationGetDepreciationTransactionsResponseBody> getDepreciationTransactions(
            RequestOptions requestOptions) {
        return this.rawClient.getDepreciationTransactions(requestOptions).thenApply(response -> response.body());
    }

    /**
     * Returns depreciation and adjustment transactions for assets. Transactions are returned ordered by updatedAt in ascending order (oldest to newest). Use startTime parameter for incremental sync.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Assets</strong> under the Assets category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<DepreciationGetDepreciationTransactionsResponseBody> getDepreciationTransactions(
            GetDepreciationTransactionsRequest request) {
        return this.rawClient.getDepreciationTransactions(request).thenApply(response -> response.body());
    }

    /**
     * Returns depreciation and adjustment transactions for assets. Transactions are returned ordered by updatedAt in ascending order (oldest to newest). Use startTime parameter for incremental sync.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Assets</strong> under the Assets category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<DepreciationGetDepreciationTransactionsResponseBody> getDepreciationTransactions(
            GetDepreciationTransactionsRequest request, RequestOptions requestOptions) {
        return this.rawClient
                .getDepreciationTransactions(request, requestOptions)
                .thenApply(response -> response.body());
    }

    /**
     * This endpoint will return data collected from the inputs of your organization's assets based on the time parameters passed in. Results are paginated. If you include an endTime, the endpoint will return data up until that point. If you don’t include an endTime, you can continue to poll the API real-time with the pagination cursor that gets returned on every call. The endpoint will only return data up until the endTime that has been processed by the server at the time of the original request. You will need to request the same [startTime, endTime) range again to receive data for assets processed after the original request time. This endpoint sorts data by time ascending.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 10 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Assets</strong> under the Assets category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<AssetsInputsGetAssetsInputsResponseBody> getAssetsInputs(GetAssetsInputsRequest request) {
        return this.rawClient.getAssetsInputs(request).thenApply(response -> response.body());
    }

    /**
     * This endpoint will return data collected from the inputs of your organization's assets based on the time parameters passed in. Results are paginated. If you include an endTime, the endpoint will return data up until that point. If you don’t include an endTime, you can continue to poll the API real-time with the pagination cursor that gets returned on every call. The endpoint will only return data up until the endTime that has been processed by the server at the time of the original request. You will need to request the same [startTime, endTime) range again to receive data for assets processed after the original request time. This endpoint sorts data by time ascending.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 10 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Assets</strong> under the Assets category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<AssetsInputsGetAssetsInputsResponseBody> getAssetsInputs(
            GetAssetsInputsRequest request, RequestOptions requestOptions) {
        return this.rawClient.getAssetsInputs(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Get a list of equipment following the AEMP ISO 15143-3 standard.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read AEMP</strong> under the Equipment category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<AempEquipmentGetAempEquipmentListResponseBody> getAempEquipmentList(String pageNumber) {
        return this.rawClient.getAempEquipmentList(pageNumber).thenApply(response -> response.body());
    }

    /**
     * Get a list of equipment following the AEMP ISO 15143-3 standard.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read AEMP</strong> under the Equipment category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<AempEquipmentGetAempEquipmentListResponseBody> getAempEquipmentList(
            String pageNumber, RequestOptions requestOptions) {
        return this.rawClient.getAempEquipmentList(pageNumber, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Get all driver and associated vehicle efficiency data.
     * <p>This is a legacy endpoint, consider using this endpoint <a href="/api-reference/fuel-and-efficiency/fuel-and-energy/get-driver-efficiency-by-drivers">/driver-efficiency/drivers</a> instead. The endpoint will continue to function as documented.</p>
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 50 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Fuel &amp; Energy</strong> under the Fuel &amp; Energy category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public CompletableFuture<DriverEfficienciesResponse> getDriverEfficiency() {
        return this.rawClient.getDriverEfficiency().thenApply(response -> response.body());
    }

    /**
     * Get all driver and associated vehicle efficiency data.
     * <p>This is a legacy endpoint, consider using this endpoint <a href="/api-reference/fuel-and-efficiency/fuel-and-energy/get-driver-efficiency-by-drivers">/driver-efficiency/drivers</a> instead. The endpoint will continue to function as documented.</p>
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 50 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Fuel &amp; Energy</strong> under the Fuel &amp; Energy category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public CompletableFuture<DriverEfficienciesResponse> getDriverEfficiency(RequestOptions requestOptions) {
        return this.rawClient.getDriverEfficiency(requestOptions).thenApply(response -> response.body());
    }

    /**
     * Get all driver and associated vehicle efficiency data.
     * <p>This is a legacy endpoint, consider using this endpoint <a href="/api-reference/fuel-and-efficiency/fuel-and-energy/get-driver-efficiency-by-drivers">/driver-efficiency/drivers</a> instead. The endpoint will continue to function as documented.</p>
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 50 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Fuel &amp; Energy</strong> under the Fuel &amp; Energy category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public CompletableFuture<DriverEfficienciesResponse> getDriverEfficiency(GetDriverEfficiencyRequest request) {
        return this.rawClient.getDriverEfficiency(request).thenApply(response -> response.body());
    }

    /**
     * Get all driver and associated vehicle efficiency data.
     * <p>This is a legacy endpoint, consider using this endpoint <a href="/api-reference/fuel-and-efficiency/fuel-and-energy/get-driver-efficiency-by-drivers">/driver-efficiency/drivers</a> instead. The endpoint will continue to function as documented.</p>
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 50 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     * <p>To use this endpoint, select <strong>Read Fuel &amp; Energy</strong> under the Fuel &amp; Energy category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     */
    public CompletableFuture<DriverEfficienciesResponse> getDriverEfficiency(
            GetDriverEfficiencyRequest request, RequestOptions requestOptions) {
        return this.rawClient.getDriverEfficiency(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Update an equipment.  <strong>Note</strong> this implementation of patch uses <a href="https://tools.ietf.org/html/rfc7396">the JSON merge patch</a> proposed standard.
     * This means that any fields included in the patch request will <em>overwrite</em> fields which exist on the target resource.
     * For arrays, this means any array included in the request will <em>replace</em> the array that exists at the specified path, it will not <em>add</em> to the existing array
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Equipment</strong> under the Equipment category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<EquipmentPatchEquipmentResponseBody> patchEquipment(String id) {
        return this.rawClient.patchEquipment(id).thenApply(response -> response.body());
    }

    /**
     * Update an equipment.  <strong>Note</strong> this implementation of patch uses <a href="https://tools.ietf.org/html/rfc7396">the JSON merge patch</a> proposed standard.
     * This means that any fields included in the patch request will <em>overwrite</em> fields which exist on the target resource.
     * For arrays, this means any array included in the request will <em>replace</em> the array that exists at the specified path, it will not <em>add</em> to the existing array
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Equipment</strong> under the Equipment category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<EquipmentPatchEquipmentResponseBody> patchEquipment(
            String id, RequestOptions requestOptions) {
        return this.rawClient.patchEquipment(id, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Update an equipment.  <strong>Note</strong> this implementation of patch uses <a href="https://tools.ietf.org/html/rfc7396">the JSON merge patch</a> proposed standard.
     * This means that any fields included in the patch request will <em>overwrite</em> fields which exist on the target resource.
     * For arrays, this means any array included in the request will <em>replace</em> the array that exists at the specified path, it will not <em>add</em> to the existing array
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Equipment</strong> under the Equipment category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<EquipmentPatchEquipmentResponseBody> patchEquipment(
            String id, EquipmentPatchEquipmentRequestBody request) {
        return this.rawClient.patchEquipment(id, request).thenApply(response -> response.body());
    }

    /**
     * Update an equipment.  <strong>Note</strong> this implementation of patch uses <a href="https://tools.ietf.org/html/rfc7396">the JSON merge patch</a> proposed standard.
     * This means that any fields included in the patch request will <em>overwrite</em> fields which exist on the target resource.
     * For arrays, this means any array included in the request will <em>replace</em> the array that exists at the specified path, it will not <em>add</em> to the existing array
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Equipment</strong> under the Equipment category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<EquipmentPatchEquipmentResponseBody> patchEquipment(
            String id, EquipmentPatchEquipmentRequestBody request, RequestOptions requestOptions) {
        return this.rawClient.patchEquipment(id, request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Get all HOS ELD events in a time range, grouped by driver. Attributes will be populated depending on which ELD Event Type is being returned.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read ELD Compliance Settings (US)</strong> under the Compliance category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<HosEldEventsGetHosEldEventsResponseBody> getHosEldEvents(GetHosEldEventsRequest request) {
        return this.rawClient.getHosEldEvents(request).thenApply(response -> response.body());
    }

    /**
     * Get all HOS ELD events in a time range, grouped by driver. Attributes will be populated depending on which ELD Event Type is being returned.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read ELD Compliance Settings (US)</strong> under the Compliance category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<HosEldEventsGetHosEldEventsResponseBody> getHosEldEvents(
            GetHosEldEventsRequest request, RequestOptions requestOptions) {
        return this.rawClient.getHosEldEvents(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Returns the last known stats of all trailers at the given <code>time</code>. If no <code>time</code> is specified, the current time is used.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 25 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Trailer Statistics</strong> under the Trailers category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<TrailerStatsGetTrailerStatsSnapshotResponseBody> getTrailerStatsSnapshot(
            GetTrailerStatsSnapshotRequest request) {
        return this.rawClient.getTrailerStatsSnapshot(request).thenApply(response -> response.body());
    }

    /**
     * Returns the last known stats of all trailers at the given <code>time</code>. If no <code>time</code> is specified, the current time is used.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 25 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Trailer Statistics</strong> under the Trailers category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<TrailerStatsGetTrailerStatsSnapshotResponseBody> getTrailerStatsSnapshot(
            GetTrailerStatsSnapshotRequest request, RequestOptions requestOptions) {
        return this.rawClient.getTrailerStatsSnapshot(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Follow a feed of trailer stats.
     * <p>The first call to this endpoint will provide the most recent stats for each trailer and an <code>endCursor</code>.</p>
     * <p>Providing the <code>endCursor</code> value to the <code>after</code> query parameter will fetch all updates since the previous API call.</p>
     * <p>If <code>hasNextPage</code> is false, no new data is immediately available. Please wait a minimum of 5 seconds before making a subsequent request.</p>
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 25 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Trailer Statistics</strong> under the Trailers category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<TrailerStatsGetTrailerStatsFeedResponseBody> getTrailerStatsFeed(
            GetTrailerStatsFeedRequest request) {
        return this.rawClient.getTrailerStatsFeed(request).thenApply(response -> response.body());
    }

    /**
     * Follow a feed of trailer stats.
     * <p>The first call to this endpoint will provide the most recent stats for each trailer and an <code>endCursor</code>.</p>
     * <p>Providing the <code>endCursor</code> value to the <code>after</code> query parameter will fetch all updates since the previous API call.</p>
     * <p>If <code>hasNextPage</code> is false, no new data is immediately available. Please wait a minimum of 5 seconds before making a subsequent request.</p>
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 25 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Trailer Statistics</strong> under the Trailers category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<TrailerStatsGetTrailerStatsFeedResponseBody> getTrailerStatsFeed(
            GetTrailerStatsFeedRequest request, RequestOptions requestOptions) {
        return this.rawClient.getTrailerStatsFeed(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Returns trailer stats during the given time range for all trailers. This can be optionally filtered by tags or specific trailer IDs.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 10 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Trailer Statistics</strong> under the Trailers category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<TrailerStatsGetTrailerStatsHistoryResponseBody> getTrailerStatsHistory(
            GetTrailerStatsHistoryRequest request) {
        return this.rawClient.getTrailerStatsHistory(request).thenApply(response -> response.body());
    }

    /**
     * Returns trailer stats during the given time range for all trailers. This can be optionally filtered by tags or specific trailer IDs.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 10 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Trailer Statistics</strong> under the Trailers category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<TrailerStatsGetTrailerStatsHistoryResponseBody> getTrailerStatsHistory(
            GetTrailerStatsHistoryRequest request, RequestOptions requestOptions) {
        return this.rawClient.getTrailerStatsHistory(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Update the engine immobilizer state of a vehicle. This requires an engine immobilizer to be installed on the vehicle gateway.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Vehicle Immobilization</strong> under the Vehicles category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<Void> updateEngineImmobilizerState(
            long id, EngineImmobilizerUpdateEngineImmobilizerStateRequestBody request) {
        return this.rawClient.updateEngineImmobilizerState(id, request).thenApply(response -> response.body());
    }

    /**
     * Update the engine immobilizer state of a vehicle. This requires an engine immobilizer to be installed on the vehicle gateway.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Vehicle Immobilization</strong> under the Vehicles category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<Void> updateEngineImmobilizerState(
            long id, EngineImmobilizerUpdateEngineImmobilizerStateRequestBody request, RequestOptions requestOptions) {
        return this.rawClient
                .updateEngineImmobilizerState(id, request, requestOptions)
                .thenApply(response -> response.body());
    }

    /**
     * Fetches jobs based on id/uuid or provided filters.
     * <p>To use this endpoint, select <strong>Read Jobs</strong> under the Equipment category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<JobsGetJobsResponseBody> getJobs() {
        return this.rawClient.getJobs().thenApply(response -> response.body());
    }

    /**
     * Fetches jobs based on id/uuid or provided filters.
     * <p>To use this endpoint, select <strong>Read Jobs</strong> under the Equipment category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<JobsGetJobsResponseBody> getJobs(RequestOptions requestOptions) {
        return this.rawClient.getJobs(requestOptions).thenApply(response -> response.body());
    }

    /**
     * Fetches jobs based on id/uuid or provided filters.
     * <p>To use this endpoint, select <strong>Read Jobs</strong> under the Equipment category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<JobsGetJobsResponseBody> getJobs(GetJobsRequest request) {
        return this.rawClient.getJobs(request).thenApply(response -> response.body());
    }

    /**
     * Fetches jobs based on id/uuid or provided filters.
     * <p>To use this endpoint, select <strong>Read Jobs</strong> under the Equipment category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<JobsGetJobsResponseBody> getJobs(GetJobsRequest request, RequestOptions requestOptions) {
        return this.rawClient.getJobs(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Creates a new job and returns it.
     * <p>To use this endpoint, select <strong>Write Jobs</strong> under the Equipment category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<JobsCreateJobResponseBody> createJob(JobsCreateJobRequestBody request) {
        return this.rawClient.createJob(request).thenApply(response -> response.body());
    }

    /**
     * Creates a new job and returns it.
     * <p>To use this endpoint, select <strong>Write Jobs</strong> under the Equipment category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<JobsCreateJobResponseBody> createJob(
            JobsCreateJobRequestBody request, RequestOptions requestOptions) {
        return this.rawClient.createJob(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Deletes an existing job.
     * <p>To use this endpoint, select <strong>Write Jobs</strong> under the Equipment category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<JobsDeleteJobResponseBody> deleteJob(DeleteJobRequest request) {
        return this.rawClient.deleteJob(request).thenApply(response -> response.body());
    }

    /**
     * Deletes an existing job.
     * <p>To use this endpoint, select <strong>Write Jobs</strong> under the Equipment category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<JobsDeleteJobResponseBody> deleteJob(
            DeleteJobRequest request, RequestOptions requestOptions) {
        return this.rawClient.deleteJob(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Patches an existing job and returns it.
     * <p>To use this endpoint, select <strong>Write Jobs</strong> under the Equipment category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<JobsPatchJobResponseBody> patchJob(JobsPatchJobRequestBody request) {
        return this.rawClient.patchJob(request).thenApply(response -> response.body());
    }

    /**
     * Patches an existing job and returns it.
     * <p>To use this endpoint, select <strong>Write Jobs</strong> under the Equipment category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<JobsPatchJobResponseBody> patchJob(
            JobsPatchJobRequestBody request, RequestOptions requestOptions) {
        return this.rawClient.patchJob(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * This endpoint will return all detections detected by in-vehicle assets and associated metadata. To get core endpoint data, select View Safety Detection Log under the Safety &amp; Cameras category when creating or editing an API token.
     * <p>If you include an endTime, the endpoint will return data up until that point. If you don’t include an endTime, you can continue to poll the API real-time with the pagination cursor that gets returned on every call. Results are paginated.</p>
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Detection Log</strong> under the Safety &amp; Cameras category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<DetectionLogGetDetectionsResponseBody> getDetections(GetDetectionsRequest request) {
        return this.rawClient.getDetections(request).thenApply(response -> response.body());
    }

    /**
     * This endpoint will return all detections detected by in-vehicle assets and associated metadata. To get core endpoint data, select View Safety Detection Log under the Safety &amp; Cameras category when creating or editing an API token.
     * <p>If you include an endTime, the endpoint will return data up until that point. If you don’t include an endTime, you can continue to poll the API real-time with the pagination cursor that gets returned on every call. Results are paginated.</p>
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Detection Log</strong> under the Safety &amp; Cameras category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<DetectionLogGetDetectionsResponseBody> getDetections(
            GetDetectionsRequest request, RequestOptions requestOptions) {
        return this.rawClient.getDetections(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Returns all installed cameras (CM3x), vehicle gateways (VGs), and asset gateways (AGs) and their health information within an organization.
     * <p><strong>Beta:</strong> This endpoint is in beta and is likely to change before being broadly available. Reach out to your Samsara Representative to have Devices API enabled for your organization.</p>
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Devices</strong> under the Devices category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<DevicesGetDevicesResponseBody> getDevices() {
        return this.rawClient.getDevices().thenApply(response -> response.body());
    }

    /**
     * Returns all installed cameras (CM3x), vehicle gateways (VGs), and asset gateways (AGs) and their health information within an organization.
     * <p><strong>Beta:</strong> This endpoint is in beta and is likely to change before being broadly available. Reach out to your Samsara Representative to have Devices API enabled for your organization.</p>
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Devices</strong> under the Devices category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<DevicesGetDevicesResponseBody> getDevices(RequestOptions requestOptions) {
        return this.rawClient.getDevices(requestOptions).thenApply(response -> response.body());
    }

    /**
     * Returns all installed cameras (CM3x), vehicle gateways (VGs), and asset gateways (AGs) and their health information within an organization.
     * <p><strong>Beta:</strong> This endpoint is in beta and is likely to change before being broadly available. Reach out to your Samsara Representative to have Devices API enabled for your organization.</p>
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Devices</strong> under the Devices category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<DevicesGetDevicesResponseBody> getDevices(GetDevicesRequest request) {
        return this.rawClient.getDevices(request).thenApply(response -> response.body());
    }

    /**
     * Returns all installed cameras (CM3x), vehicle gateways (VGs), and asset gateways (AGs) and their health information within an organization.
     * <p><strong>Beta:</strong> This endpoint is in beta and is likely to change before being broadly available. Reach out to your Samsara Representative to have Devices API enabled for your organization.</p>
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Devices</strong> under the Devices category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<DevicesGetDevicesResponseBody> getDevices(
            GetDevicesRequest request, RequestOptions requestOptions) {
        return this.rawClient.getDevices(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Get the engine immobilizer states of the queried vehicles. If a vehicle has never had an engine immobilizer connected, there won't be any state returned for that vehicle.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Vehicle Immobilization</strong> under the Vehicles category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<EngineImmobilizerGetEngineImmobilizerStatesResponseBody> getEngineImmobilizerStates(
            GetEngineImmobilizerStatesRequest request) {
        return this.rawClient.getEngineImmobilizerStates(request).thenApply(response -> response.body());
    }

    /**
     * Get the engine immobilizer states of the queried vehicles. If a vehicle has never had an engine immobilizer connected, there won't be any state returned for that vehicle.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Vehicle Immobilization</strong> under the Vehicles category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<EngineImmobilizerGetEngineImmobilizerStatesResponseBody> getEngineImmobilizerStates(
            GetEngineImmobilizerStatesRequest request, RequestOptions requestOptions) {
        return this.rawClient
                .getEngineImmobilizerStates(request, requestOptions)
                .thenApply(response -> response.body());
    }

    /**
     * Start an asynchronous run for the specified Function. This endpoint allows you to override parameters available at runtime.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 2 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Functions</strong> under the Closed Beta category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<FunctionsStartFunctionRunResponseBody> startFunctionRun(
            String name, FunctionsStartFunctionRunRequestBody request) {
        return this.rawClient.startFunctionRun(name, request).thenApply(response -> response.body());
    }

    /**
     * Start an asynchronous run for the specified Function. This endpoint allows you to override parameters available at runtime.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 2 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Functions</strong> under the Closed Beta category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<FunctionsStartFunctionRunResponseBody> startFunctionRun(
            String name, FunctionsStartFunctionRunRequestBody request, RequestOptions requestOptions) {
        return this.rawClient.startFunctionRun(name, request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Update the shippingDocs field of an existing assignment.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write ELD Hours of Service (US)</strong> under the Compliance category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<HosDailyLogsUpdateShippingDocsResponseBody> updateShippingDocs(
            HosDailyLogsUpdateShippingDocsRequestBody request) {
        return this.rawClient.updateShippingDocs(request).thenApply(response -> response.body());
    }

    /**
     * Update the shippingDocs field of an existing assignment.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write ELD Hours of Service (US)</strong> under the Compliance category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<HosDailyLogsUpdateShippingDocsResponseBody> updateShippingDocs(
            HosDailyLogsUpdateShippingDocsRequestBody request, RequestOptions requestOptions) {
        return this.rawClient.updateShippingDocs(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Retrieve custom properties for a specific hub.
     * <p><strong>Beta:</strong> This endpoint is in beta and is likely to change before being broadly available. Reach out to your Samsara Representative to have RoutePlanning APIs enabled for your organization.</p>
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 10 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Routes</strong> under the Driver Workflow category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<HubCustomPropertiesListHubCustomPropertiesResponseBody> listHubCustomProperties(
            ListHubCustomPropertiesRequest request) {
        return this.rawClient.listHubCustomProperties(request).thenApply(response -> response.body());
    }

    /**
     * Retrieve custom properties for a specific hub.
     * <p><strong>Beta:</strong> This endpoint is in beta and is likely to change before being broadly available. Reach out to your Samsara Representative to have RoutePlanning APIs enabled for your organization.</p>
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 10 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Routes</strong> under the Driver Workflow category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<HubCustomPropertiesListHubCustomPropertiesResponseBody> listHubCustomProperties(
            ListHubCustomPropertiesRequest request, RequestOptions requestOptions) {
        return this.rawClient.listHubCustomProperties(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Create one or more orders (bulk upsert). Pass an array of order objects; any object whose customerOrderId already exists will be updated, otherwise a new order is created. Functions can return JSON arrays in this Order POST format. Orders are initially created at the plan level but will migrate to hub-level entities, with planId becoming optional in future versions.
     * <p><strong>Beta:</strong> This endpoint is in beta and is likely to change before being broadly available. Reach out to your Samsara Representative to have RoutePlanning APIs enabled for your organization.</p>
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Routes</strong> under the Driver Workflow category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<PlanOrdersCreatePlanOrdersResponseBody> createPlanOrders(
            PlanOrdersCreatePlanOrdersRequestBody request) {
        return this.rawClient.createPlanOrders(request).thenApply(response -> response.body());
    }

    /**
     * Create one or more orders (bulk upsert). Pass an array of order objects; any object whose customerOrderId already exists will be updated, otherwise a new order is created. Functions can return JSON arrays in this Order POST format. Orders are initially created at the plan level but will migrate to hub-level entities, with planId becoming optional in future versions.
     * <p><strong>Beta:</strong> This endpoint is in beta and is likely to change before being broadly available. Reach out to your Samsara Representative to have RoutePlanning APIs enabled for your organization.</p>
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Routes</strong> under the Driver Workflow category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<PlanOrdersCreatePlanOrdersResponseBody> createPlanOrders(
            PlanOrdersCreatePlanOrdersRequestBody request, RequestOptions requestOptions) {
        return this.rawClient.createPlanOrders(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Returns qualification records for the specified list of IDs.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Qualification Records</strong> under the Qualification Records category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<QualificationsGetQualificationRecordsResponseBody> getQualificationRecords() {
        return this.rawClient.getQualificationRecords().thenApply(response -> response.body());
    }

    /**
     * Returns qualification records for the specified list of IDs.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Qualification Records</strong> under the Qualification Records category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<QualificationsGetQualificationRecordsResponseBody> getQualificationRecords(
            RequestOptions requestOptions) {
        return this.rawClient.getQualificationRecords(requestOptions).thenApply(response -> response.body());
    }

    /**
     * Returns qualification records for the specified list of IDs.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Qualification Records</strong> under the Qualification Records category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<QualificationsGetQualificationRecordsResponseBody> getQualificationRecords(
            GetQualificationRecordsRequest request) {
        return this.rawClient.getQualificationRecords(request).thenApply(response -> response.body());
    }

    /**
     * Returns qualification records for the specified list of IDs.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Qualification Records</strong> under the Qualification Records category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<QualificationsGetQualificationRecordsResponseBody> getQualificationRecords(
            GetQualificationRecordsRequest request, RequestOptions requestOptions) {
        return this.rawClient.getQualificationRecords(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Creates a new qualification record.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Qualification Records</strong> under the Qualification Records category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<QualificationsPostQualificationRecordResponseBody> postQualificationRecord(
            QualificationsPostQualificationRecordRequestBody request) {
        return this.rawClient.postQualificationRecord(request).thenApply(response -> response.body());
    }

    /**
     * Creates a new qualification record.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Qualification Records</strong> under the Qualification Records category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<QualificationsPostQualificationRecordResponseBody> postQualificationRecord(
            QualificationsPostQualificationRecordRequestBody request, RequestOptions requestOptions) {
        return this.rawClient.postQualificationRecord(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Deletes an existing qualification record.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Qualification Records</strong> under the Qualification Records category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<Void> deleteQualificationRecord(
            QualificationsDeleteQualificationRecordRequestBody request) {
        return this.rawClient.deleteQualificationRecord(request).thenApply(response -> response.body());
    }

    /**
     * Deletes an existing qualification record.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Qualification Records</strong> under the Qualification Records category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<Void> deleteQualificationRecord(
            QualificationsDeleteQualificationRecordRequestBody request, RequestOptions requestOptions) {
        return this.rawClient.deleteQualificationRecord(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Updates an existing qualification record.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Qualification Records</strong> under the Qualification Records category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<QualificationsPatchQualificationRecordResponseBody> patchQualificationRecord(
            QualificationsPatchQualificationRecordRequestBody request) {
        return this.rawClient.patchQualificationRecord(request).thenApply(response -> response.body());
    }

    /**
     * Updates an existing qualification record.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Qualification Records</strong> under the Qualification Records category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<QualificationsPatchQualificationRecordResponseBody> patchQualificationRecord(
            QualificationsPatchQualificationRecordRequestBody request, RequestOptions requestOptions) {
        return this.rawClient.patchQualificationRecord(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Archives an existing qualification record.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Qualification Records</strong> under the Qualification Records category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<Void> archiveQualificationRecord(
            QualificationsArchiveQualificationRecordRequestBody request) {
        return this.rawClient.archiveQualificationRecord(request).thenApply(response -> response.body());
    }

    /**
     * Archives an existing qualification record.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Qualification Records</strong> under the Qualification Records category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<Void> archiveQualificationRecord(
            QualificationsArchiveQualificationRecordRequestBody request, RequestOptions requestOptions) {
        return this.rawClient
                .archiveQualificationRecord(request, requestOptions)
                .thenApply(response -> response.body());
    }

    /**
     * Returns all qualification records that have been created or modified for your organization based on the time parameters passed in. Results are paginated and are sorted by last modified date. If you include an endTime, the endpoint will return data up until that point (exclusive). If you don't include an endTime, the API will continue to poll with the pagination cursor that gets returned on every call. The hasNextPage response value will be true if there is no endTime specified and endCursor is nonempty.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Qualification Records</strong> under the Qualification Records category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<QualificationsGetQualificationRecordsStreamResponseBody> getQualificationRecordsStream(
            GetQualificationRecordsStreamRequest request) {
        return this.rawClient.getQualificationRecordsStream(request).thenApply(response -> response.body());
    }

    /**
     * Returns all qualification records that have been created or modified for your organization based on the time parameters passed in. Results are paginated and are sorted by last modified date. If you include an endTime, the endpoint will return data up until that point (exclusive). If you don't include an endTime, the API will continue to poll with the pagination cursor that gets returned on every call. The hasNextPage response value will be true if there is no endTime specified and endCursor is nonempty.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Qualification Records</strong> under the Qualification Records category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<QualificationsGetQualificationRecordsStreamResponseBody> getQualificationRecordsStream(
            GetQualificationRecordsStreamRequest request, RequestOptions requestOptions) {
        return this.rawClient
                .getQualificationRecordsStream(request, requestOptions)
                .thenApply(response -> response.body());
    }

    /**
     * Unarchives an existing qualification record.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Qualification Records</strong> under the Qualification Records category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<Void> unarchiveQualificationRecord(
            QualificationsUnarchiveQualificationRecordRequestBody request) {
        return this.rawClient.unarchiveQualificationRecord(request).thenApply(response -> response.body());
    }

    /**
     * Unarchives an existing qualification record.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Qualification Records</strong> under the Qualification Records category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<Void> unarchiveQualificationRecord(
            QualificationsUnarchiveQualificationRecordRequestBody request, RequestOptions requestOptions) {
        return this.rawClient
                .unarchiveQualificationRecord(request, requestOptions)
                .thenApply(response -> response.body());
    }

    /**
     * Returns a list of qualification types for the specified list of IDs. If no IDs are provided, all qualification types will be returned.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Qualification Records</strong> under the Qualification Records category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<QualificationsGetQualificationTypesResponseBody> getQualificationTypes(
            GetQualificationTypesRequest request) {
        return this.rawClient.getQualificationTypes(request).thenApply(response -> response.body());
    }

    /**
     * Returns a list of qualification types for the specified list of IDs. If no IDs are provided, all qualification types will be returned.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Qualification Records</strong> under the Qualification Records category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<QualificationsGetQualificationTypesResponseBody> getQualificationTypes(
            GetQualificationTypesRequest request, RequestOptions requestOptions) {
        return this.rawClient.getQualificationTypes(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Ingest new readings. This endpoint allows the ingestion of batches of readings.
     * <p>Ingesting readings is only supported for assets created using the POST /assets API endpoint with readingsIngestionEnabled set to true. To see a full list of readings available for ingestion use the GET readings definitions API. When ingesting location data, the readingID 'location' must be used and the value object must contain at least the following fields: 'speed', 'latitude', 'longitude'.</p>
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 10 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Readings</strong> under the Closed Beta category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<Void> postReadings(ReadingsPostReadingsRequestBody request) {
        return this.rawClient.postReadings(request).thenApply(response -> response.body());
    }

    /**
     * Ingest new readings. This endpoint allows the ingestion of batches of readings.
     * <p>Ingesting readings is only supported for assets created using the POST /assets API endpoint with readingsIngestionEnabled set to true. To see a full list of readings available for ingestion use the GET readings definitions API. When ingesting location data, the readingID 'location' must be used and the value object must contain at least the following fields: 'speed', 'latitude', 'longitude'.</p>
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 10 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Readings</strong> under the Closed Beta category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<Void> postReadings(
            ReadingsPostReadingsRequestBody request, RequestOptions requestOptions) {
        return this.rawClient.postReadings(request, requestOptions).thenApply(response -> response.body());
    }

    /**
[...]
