/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.samsara.api.resources.livesharinglinks;

import com.samsara.api.core.ClientOptions;
import com.samsara.api.core.RequestOptions;
import com.samsara.api.resources.livesharinglinks.requests.DeleteLiveSharingLinkRequest;
import com.samsara.api.resources.livesharinglinks.requests.GetLiveSharingLinksRequest;
import com.samsara.api.resources.livesharinglinks.requests.LiveSharingLinksCreateLiveSharingLinkRequestBody;
import com.samsara.api.resources.livesharinglinks.requests.LiveSharingLinksUpdateLiveSharingLinkRequestBody;
import com.samsara.api.types.LiveSharingLinksCreateLiveSharingLinkResponseBody;
import com.samsara.api.types.LiveSharingLinksGetLiveSharingLinksResponseBody;
import com.samsara.api.types.LiveSharingLinksUpdateLiveSharingLinkResponseBody;
import java.util.concurrent.CompletableFuture;

public class AsyncLiveSharingLinksClient {
    protected final ClientOptions clientOptions;

    private final AsyncRawLiveSharingLinksClient rawClient;

    public AsyncLiveSharingLinksClient(ClientOptions clientOptions) {
        this.clientOptions = clientOptions;
        this.rawClient = new AsyncRawLiveSharingLinksClient(clientOptions);
    }

    /**
     * Get responses with HTTP metadata like headers
     */
    public AsyncRawLiveSharingLinksClient withRawResponse() {
        return this.rawClient;
    }

    /**
     * Returns all non-expired Live Sharing Links.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Live Sharing Links</strong> under the Driver Workflow category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<LiveSharingLinksGetLiveSharingLinksResponseBody> getLiveSharingLinks() {
        return this.rawClient.getLiveSharingLinks().thenApply(response -> response.body());
    }

    /**
     * Returns all non-expired Live Sharing Links.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Live Sharing Links</strong> under the Driver Workflow category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<LiveSharingLinksGetLiveSharingLinksResponseBody> getLiveSharingLinks(
            RequestOptions requestOptions) {
        return this.rawClient.getLiveSharingLinks(requestOptions).thenApply(response -> response.body());
    }

    /**
     * Returns all non-expired Live Sharing Links.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Live Sharing Links</strong> under the Driver Workflow category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<LiveSharingLinksGetLiveSharingLinksResponseBody> getLiveSharingLinks(
            GetLiveSharingLinksRequest request) {
        return this.rawClient.getLiveSharingLinks(request).thenApply(response -> response.body());
    }

    /**
     * Returns all non-expired Live Sharing Links.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 5 requests/sec (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Read Live Sharing Links</strong> under the Driver Workflow category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<LiveSharingLinksGetLiveSharingLinksResponseBody> getLiveSharingLinks(
            GetLiveSharingLinksRequest request, RequestOptions requestOptions) {
        return this.rawClient.getLiveSharingLinks(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Create Live Sharing Link.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Live Sharing Links</strong> under the Driver Workflow category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<LiveSharingLinksCreateLiveSharingLinkResponseBody> createLiveSharingLink(
            LiveSharingLinksCreateLiveSharingLinkRequestBody request) {
        return this.rawClient.createLiveSharingLink(request).thenApply(response -> response.body());
    }

    /**
     * Create Live Sharing Link.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Live Sharing Links</strong> under the Driver Workflow category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<LiveSharingLinksCreateLiveSharingLinkResponseBody> createLiveSharingLink(
            LiveSharingLinksCreateLiveSharingLinkRequestBody request, RequestOptions requestOptions) {
        return this.rawClient.createLiveSharingLink(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Delete Live Sharing Link.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Live Sharing Links</strong> under the Driver Workflow category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<Void> deleteLiveSharingLink(DeleteLiveSharingLinkRequest request) {
        return this.rawClient.deleteLiveSharingLink(request).thenApply(response -> response.body());
    }

    /**
     * Delete Live Sharing Link.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Live Sharing Links</strong> under the Driver Workflow category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<Void> deleteLiveSharingLink(
            DeleteLiveSharingLinkRequest request, RequestOptions requestOptions) {
        return this.rawClient.deleteLiveSharingLink(request, requestOptions).thenApply(response -> response.body());
    }

    /**
     * Update Live Sharing Link.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Live Sharing Links</strong> under the Driver Workflow category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<LiveSharingLinksUpdateLiveSharingLinkResponseBody> updateLiveSharingLink(
            LiveSharingLinksUpdateLiveSharingLinkRequestBody request) {
        return this.rawClient.updateLiveSharingLink(request).thenApply(response -> response.body());
    }

    /**
     * Update Live Sharing Link.
     * <p>&lt;b&gt;Rate limit:&lt;/b&gt; 100 requests/min (learn more about rate limits <a href="/docs/rate-limits">here</a>).</p>
     * <p>To use this endpoint, select <strong>Write Live Sharing Links</strong> under the Driver Workflow category when creating or editing an API token. <a href="/docs/authentication#scopes-for-api-tokens">Learn More.</a></p>
     * <p><strong>Submit Feedback</strong>: Likes, dislikes, and API feature requests should be filed as feedback in our &lt;a href=&quot;https://forms.gle/zkD4NCH7HjKb7mm69&quot; target=&quot;_blank&quot;&gt;API feedback form&lt;/a&gt;. If you encountered an issue or noticed inaccuracies in the API documentation, please &lt;a href=&quot;https://www.samsara.com/help&quot; target=&quot;_blank&quot;&gt;submit a case&lt;/a&gt; to our support team.</p>
     */
    public CompletableFuture<LiveSharingLinksUpdateLiveSharingLinkResponseBody> updateLiveSharingLink(
            LiveSharingLinksUpdateLiveSharingLinkRequestBody request, RequestOptions requestOptions) {
        return this.rawClient.updateLiveSharingLink(request, requestOptions).thenApply(response -> response.body());
    }
}
